<div class="p-grid" [ngClass]="isView ? 'detail' : ''">
  <form class="p-mb-6 p-col-5" [formGroup]="commentForm" >
    <input *ngIf="!isView" pInputText id="n-comment" style="height: 38px;"
           formControlName="content" (keyup.enter)="submit()" type="text" />
    <div class="title-right" *ngIf="isView" style="min-height: 38px; transform: translateY(-5px)"></div>
  </form>
  <div class="p-mb-2 p-col-3">
    <p-button  class="p-button-raised p-mr-3" [disabled]="isView ? 'disabled' : false" (onClick)="submit()" label="{{'btn.send' | translate}}"></p-button>
  </div>
  <div class="p-mb-2 p-col-1"></div>
  <div class="p-mb-2 p-col-3">
    <p-button  class="p-button-raised p-mr-3" [disabled]="isView ? 'disabled' : false" (click)="onExport()" label="{{'btn.export' | translate}}" ></p-button>
  </div>
</div>
<p-paginator #commentPaging [rows]="pageSize"
             [totalRecords]="totalItems"
             (onPageChange)="changePage($event)"
             [rowsPerPageOptions]="[10, 20, 50, 100]"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="{{ 'paging' | translate }}">
</p-paginator>
<p-treeTable #pTreeTable [value]="testEmitter$ | async"  dataKey="data.id">
  <ng-template pTemplate="header">
    <tr>
      <th id="typeCol"></th>
      <th id="userCol">{{'comment.user' | translate}}</th>
      <th id="contentCol">{{'comment.content' | translate}}</th>
      <th id="timeCol">{{'comment.createdTime' | translate}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body"  let-rowNode let-rowData="rowData">
    <tr *ngIf="rowData.id" style="align-content: flex-start;">
      <td [ngClass]="{'border-none-custom' : rowData.type === commentEnum.REP}">
        <p-treeTableToggler [rowNode]="rowNode" style="display: none; pointer-events: none; " ></p-treeTableToggler>
        <span *ngIf="rowData.type === commentEnum.CMT">{{'comment.type.cmt' | translate}}</span>
        <span *ngIf="rowData.type === commentEnum.REP && rowData.isFirst">{{'comment.type.rep' | translate}}</span>
      </td>
      <td [ngClass]="{'border-none-custom' : rowData.type === commentEnum.REP}">{{rowData['fullName'] }}</td>
      <td [ngClass]="{'border-none-custom' : rowData.type === commentEnum.REP}"><span *ngIf="rowData['content']">{{rowData['content']}}</span>
        <input *ngIf="commentForm?.value?.idParent && rowData['status'] === 0"
               #contentIn  [(ngModel)]="contentValue" style="height: 38px;"
               pInputText (keydown.enter)="onEnter()">
        <button *ngIf="rowData.type === commentEnum.CMT && !isView" label="{{'comment.reply' | translate}}"
                style="text-align: left; padding-left: 0;" class="text-primary p-button-link"
                pButton (click)="replyClicked(rowData, $event)" ></button>
      </td>
      <td [ngClass]="{'border-none-custom' : rowData.type === commentEnum.REP}">{{rowData['createDate'] | date : 'HH:mm dd/MM/yyyy'}}</td>
    </tr>
  </ng-template>
</p-treeTable>
