<div class="p-grid" [ngClass]="isView ? 'detail' : ''">
  <form class="p-mb-6 p-col-5" [formGroup]="commentForm">
    <div class="p-inputgroup" *ngIf="!isView" id="customCommentInput">
      <input pInputText id="n-comment" style="height: 38px; border-right: none"
             formControlName="content" (keyup.enter)="submit()" type="text"/>
      <div id="iconImgCmt"  class="p-inputgroup-addon" style="padding-right: 0">
        <a href="javascript:void('select file');" (click)="img.click()">
          <em class="pi pi-fw pi-image" style="font-size: large"></em>
        </a>
        <input type="file" #img accept=".jpg, .png, .gif" [multiple]="true" (change)="onFileChange($event,'img')" style="display:none" />
      </div>
      <div id="iconLinkCmt" class="p-inputgroup-addon" style="padding-left: 0.5em">
        <a href="javascript:void('select file');" (click)="file.click()">
          <em class="pi pi-fw pi-link" style="font-size: large"></em>
        </a>
        <input type="file" #file accept="jpg, png, gif" [multiple]="true" (change)="onFileChange($event, 'file')" style="display:none" />
      </div>
    </div>
    <div class="image-preview" *ngIf="commentForm?.value?.idParent === null" [ngStyle]="{'display': isSelect ? 'none':'block' }" id="imgCmtPreview">
      <img alt="IMG" [src]="previewUrl">
      <div class="img-action">
        <button class="btn-action" (click)="clearImage()" >
          <i class="pi pi-times"></i>
        </button>
      </div>
    </div>
    <p class="docs-preview"  *ngIf="commentForm?.value?.idParent === null"  style="padding: 0.5em; " [ngStyle]="{'display': isChangeDoc ? 'none':'block' }" >
      {{fileName}}
      <button class="btn-action" (click)="doClearDoc()" >
        <i class="pi pi-times"></i>
      </button>
    </p>
    <div class="title-right" *ngIf="isView" style="min-height: 38px; transform: translateY(-5px)"></div>

  </form>

  <div class="p-mb-2 p-col-3">
    <p-button class="p-button-raised p-mr-3" [disabled]="isView ? 'disabled' : false" (onClick)="submit()"
              label="{{'btn.send' | translate}}"></p-button>
  </div>
  <div class="p-mb-2 p-col-1"></div>
  <div class="p-mb-2 p-col-3">
    <p-button class="p-button-raised p-mr-3" [disabled]="isView ? 'disabled' : false" (click)="onExport()"
              label="{{'btn.export' | translate}}"></p-button>
  </div>
</div>
<p-paginator #commentPaging [rows]="pageSize"
             [totalRecords]="totalItems"
             (onPageChange)="changePage($event)"
             [rowsPerPageOptions]="[10, 20, 50, 100]"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="{{ 'paging' | translate }}">
</p-paginator>
<p-treeTable #pTreeTable [value]="treeEmitter$ | async" dataKey="data.id"  >
  <ng-template pTemplate="header">
    <tr>
      <th id="typeCol"></th>
      <th id="userCol">{{'comment.user' | translate}}</th>
      <th id="contentCol">{{'comment.content' | translate}}</th>
      <th id="timeCol">{{'comment.createdTime' | translate}}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr *ngIf="rowData.id" style="align-content: flex-start;">
      <td [ngClass]="{'border-none-custom' : rowData.type === commentEnum.REP}">
        <p-treeTableToggler [rowNode]="rowNode" style="display: none; pointer-events: none; "></p-treeTableToggler>
        <span *ngIf="rowData.type === commentEnum.CMT ">{{'comment.type.cmt' | translate}}</span>
        <span *ngIf="rowData.type === commentEnum.REP && rowData.isFirst ">{{'comment.type.rep' | translate}}</span>
      </td>
      <td [ngClass]="{'border-none-custom' : rowData.type === commentEnum.REP}">{{rowData['fullName'] }}</td>
      <td [ngClass]="{'border-none-custom' : rowData.type === commentEnum.REP}" [colSpan]="commentForm?.value?.idParent && rowData['status'] === 0 ? 2 : 1"><span
        *ngIf="rowData['content'] && !rowData['isUpdate']">{{rowData['content']}}</span>
        <br *ngIf="rowData['imgPath']">
        <img
          width="100%"
          *ngIf="rowData['imgPath']" alt="IMG" [src]="baseUrl+rowData['imgPath']">
        <br *ngIf="rowData['filePath']">
        <a target="_blank" *ngIf="rowData['filePath']" [href]="baseUrl+rowData['filePath']" download>
          <em class="pi pi-fw pi-link"></em>
          File đính kèm
        </a>
        <br>
        <div class="p-inputgroup" id="customRepInput" *ngIf="commentForm?.value?.idParent && rowData['status'] === 0 || rowData['isUpdate']">
          <input
                  [(ngModel)]="rowData['content']" style="height: 38px;"
                 pInputText (keydown.enter)="onEnter(rowData)">
          <div id="iconImgRep"  class="p-inputgroup-addon" style="padding-right: 0">
            <a href="javascript:void('select file');" (click)="img.click()">
              <em class="pi pi-fw pi-image" style="font-size: large"></em>
            </a>
            <input type="file" #img accept=".jpg, .png, .gif" [multiple]="true" (change)="onCmtFileChange($event,'img',rowData)" style="display:none" />
          </div>
          <div id="iconLinkRep" class="p-inputgroup-addon" style="padding-left: 0.5em">
            <a href="javascript:void('select file');" (click)="file.click()">
              <em class="pi pi-fw pi-link" style="font-size: large"></em>
            </a>
            <input type="file" #file accept="jpg, png, gif" [multiple]="true" (change)="onCmtFileChange($event, 'file',rowData)" style="display:none" />
          </div>
        </div>
        <div *ngIf="rowData.idParent && rowData['status'] === 0 || rowData['isUpdate']" class="image-preview" [ngStyle]="{'display': rowData['isSelect'] ? 'none':'block' }" id="imgRepPreview">
          <img alt="IMG" [src]="rowData['previewUrl']">
          <div class="img-action">
            <button class="btn-action" (click)="clearCmtImage(rowData)" >
              <i class="pi pi-times"></i>
            </button>
          </div>
        </div>
        <p *ngIf="rowData['idParent'] && rowData['status'] === 0 || rowData['isUpdate']" class="docs-preview" style="padding: 0.5em; " [ngStyle]="{'display': rowData['isChangeDoc'] ? 'none':'block' }" >
          {{rowData['fileName']}}
          <button class="btn-action" (click)="doCmtClearDoc(rowData)" >
            <i class="pi pi-times"></i>
          </button>
        </p>
        <button *ngIf="rowData.type === commentEnum.CMT && !isView" label="{{'comment.reply' | translate}}"
                style="text-align: left; padding-left: 0;width: auto" class="text-primary p-button-link"
                pButton (click)="replyClicked(rowData, $event)"></button>
        <button *ngIf="!isView && rowData['username'] === username" label="{{'comment.update' | translate}}"
                style="text-align: left; padding-left: 0;width: auto" class="text-primary p-button-link show-cmt"
                pButton (click)="updateClicked(rowData, $event)"></button>
        <button *ngIf="!isView" label="{{'comment.delete' | translate}}"
                style="text-align: left; padding-left: 0; width: auto" class="text-primary p-button-link"
                pButton (click)="deleteClicked(rowData, $event)"></button>
      </td>
      <td
        [ngClass]="{'border-none-custom' : rowData.type === commentEnum.REP}">{{rowData['createDate'] | date : 'HH:mm dd/MM/yyyy'}}</td>
    </tr>
  </ng-template>
</p-treeTable>
