<p-panel>
    <form class="p-grid p-fluid p-mb-6" [formGroup]="formFilter">
        <div class="p-md-6 p-col-6 p-field">
            <input type="text" id="s-valueDepartment"  pInputText placeholder="{{'search' | translate}}" formControlName="searchValue" />
        </div>
        <div class="p-md-2 p-col-12 p-field p-d-flex p-align-end">
            <button (click)="doFilter()" (keyup.enter)="doFilter()" pButton type="button" label="{{'filter' | translate}}" class="p-button-secondary" style="height: 46px"></button>
        </div>
        <div class="p-md-2 p-col-12 p-field p-d-flex p-align-end">
            <button  pButton type="button" label="{{'btn.insert' | translate}}" icon="pi pi-plus" class="p-button-secondary p-button-outlined" (click)="gotoCreate()" style="height: 46px"></button>
        </div>
    </form>
    <p-table [value]="departmentList" dataKey="id" styleClass="table-responsive"
             [customSort]="true"
             [autoLayout]="true"
             [lazy]="true"
             sortField="createDate"
             [sortOrder]="-1"
             (onLazyLoad)="lazyLoadDepartment($event)">
        <ng-template pTemplate="header">
            <tr>
                <th id="noId" style="width: 50px;">{{'department.no' | translate}}</th>

                <th id="departmentId" pSortableColumn="name">{{'department.department' | translate}} <p-sortIcon field="name"></p-sortIcon></th>
                <th id="createDateId" pSortableColumn="createDate">{{'department.createDate' | translate}} <p-sortIcon field="createDate"></p-sortIcon></th>
                <th id="modifyDateId" pSortableColumn="modifyDate">{{'department.modifyDate' | translate}} <p-sortIcon field="modifyDate"></p-sortIcon></th>
                <th id="statusId" >{{'department.status' | translate}}</th>
                <th id="notesId" >{{'department.notes' | translate}}</th>
                <th id="actionId">{{'department.action' | translate}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-departments let-index="rowIndex">
            <tr>
                <td>{{(page * pageSize) + 1 + index}}</td>
                <td>{{departments.name}}</td>
                <td>{{departments.createdDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>{{departments.modifiedDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                <td>
                    <ng-container [ngSwitch]="departments.status">
                        <ng-container *ngSwitchCase="departmentEnum.STATUS_ACTIVE">{{'const.active' | translate}}</ng-container>
                        <ng-container *ngSwitchCase="departmentEnum.STATUS_INACTIVE" ><span style="color: red">{{'const.inActive' | translate}}</span></ng-container>
                    </ng-container>
                </td>
                <td>{{departments.description}}</td>
                <td>
                    <button  pButton
                             type="button"
                             icon="pi pi-pencil"
                             class="p-button-rounded p-button-secondary p-button-text"
                             (click)="gotoUpdate(departments)"
                    >
                    </button>
                    <button  pButton
                             type="button"
                             icon="pi pi-trash"
                             class="p-button-rounded p-button-danger p-button-text"
                             (click)="deleteDepartment(departments)"
                             *ngIf="departmentEnum.STATUS_ACTIVE  == departments.status"
                    >
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td [attr.colspan]="9">
                    {{'noData' | translate}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator #departmentPaging [rows]="10"
                 *ngIf="totalItems > 0"
                 [totalRecords]="totalItems"
                 [rowsPerPageOptions]="[10, 20, 50, 100]"
                 [showCurrentPageReport]="true"
                 (onPageChange)="changePage($event)"
                 currentPageReportTemplate="{{ 'paging' | translate }}">
    </p-paginator>
</p-panel>
<form  [formGroup]="departmentForm" (ngSubmit)="submitDepartmentForm()" *ngIf="display">
    <p-dialog [visible]="display" [closable]="false" modal="true" blockScroll="false">
        <ng-template pTemplate="header">
            <h4 style="margin-top: 10px" *ngIf="isCreated"><strong>{{'department.titleAdd'|translate}}</strong></h4>
            <h4 style="margin-top: 10px" *ngIf="isUpdated"><strong>{{'department.titleUpdate'|translate}}</strong></h4>
        </ng-template>
        <ng-template pTemplate="body" style="width: 465px; height: 350px">
            <div class="p-grid p-fluid p-mb-6" style="width: 465px; height: 350px">
                <div class="p-md-12 p-col-6 p-field">
                    <label for="s-departmentName">{{'department.departmentName'|translate}} <span class="p-invalid">*</span></label>
                    <input type="text" pInputText id="s-departmentName" formControlName="name" />
                    <small *ngIf="hasErrorInput('name', 'required')" class="p-invalid">
                        {{'department.invalid.required' | translate}}
                    </small>
                    <small *ngIf="hasErrorInput('name', 'maxlength')" class="p-invalid">
                        {{ 'department.invalid.maxLength' | translate:{length: 100} }}
                    </small>
                </div>
                <div class="p-md-12 p-col-6 p-field">
                    <label for="s-status">{{'department.status'|translate}} <span class="p-invalid">*</span></label>
                    <p-dropdown id="s-status" formControlName="status" [options]="statusList"></p-dropdown>
                    <small *ngIf="hasErrorInput('status', 'required')" class="p-invalid">
                        {{'department.invalid.required' | translate}}
                    </small>
                </div>
                <div class="p-md-12 p-col-6 p-field">
                    <label for="s-description">{{'department.notes'|translate}}</label>
                    <input type="text" pInputText id="s-description" formControlName="description" />
                    <small *ngIf="hasErrorInput('description', 'maxlength')" class="p-invalid">
                        {{ 'department.invalid.maxLength' | translate:{length: 100} }}
                    </small>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="p-grid p-fluid" style="display: flex; justify-content: center; align-items: center; margin: 20px 0">
                <button type="button" pButton (click)="display = false" class="p-button-primary p-button-outlined p-md-6 p-col-6" style="width: 45%; height: 45px" label="{{'btn.cancel' | translate}}"></button>
                <button type="submit" pButton class="p-button-secondary p-md-6 p-col-6" style="width: 45%; height: 45px" label="{{'btn.save' | translate}}"></button>
            </div>
        </ng-template>
    </p-dialog>
</form>
