
<p-panel *ngIf="isHasImport && !isApprove" header="Import User" [toggleable]="true" >
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-5">
      <aw-input-upload (changeFile)="doChangeFile($event)" selectLabel="{{'btn.selectFile' | translate}}"></aw-input-upload>
      <span class="p-mt-2 p-d-block">{{'downloadPattern' | translate}}
        <a href="assets/resource/User_Import_Sample.xlsx" target="_blank"> {{'atHere' | translate}}</a>
      </span>
    </div>

    <div class="p-col-12 p-md-2">
      <button (click)="doCheckFile()" pButton type="button" label="{{'btn.checkData' | translate}}" class="p-button-secondary" style="height: 46px;"></button>
    </div>
  </div>
</p-panel>
<div class="p-my-3"></div>
<p-panel header="{{'list' | translate}}">
  <ng-template pTemplate="icons">
    <button class="p-panel-header-icon p-link" (click)="refreshSearch()" pTooltip="{{'btn.refresh' | translate}}" tooltipPosition="bottom">
      <i class="pi pi-refresh"></i>
    </button>
  </ng-template>
  <form class="p-grid p-fluid p-mb-3" [formGroup]="searchForm">
    <div class="p-lg-4 p-col-6 p-field">
      <label>{{'search' | translate}}</label>
      <input (keyup.enter)="doFilterUser()" type="text" formControlName="keySearch" pInputText placeholder="{{'search' | translate}}" />
    </div>
    <div class="p-lg-2 p-col-6 p-field">
      <label>{{'user.role' | translate}}</label>
      <p-dropdown [filter]="true" [options]="roleList" optionLabel="name" dataKey="id" formControlName="role"></p-dropdown>
    </div>
    <div class="p-lg-2 p-col-6 p-field">
      <label>{{'user.status' | translate}}</label>
      <p-dropdown [options]="statusList" optionLabel="name" dataKey="code" formControlName="status"></p-dropdown>
    </div>
    <div class="p-md-2 p-col-3 p-field p-d-flex p-align-end">
      <button (click)="doFilterUser()" pButton type="button" label="{{'filter' | translate}}" class="p-button-secondary" style="height: 46px"></button>
    </div>
    <div class="p-md-2 p-col-3 p-field p-d-flex p-align-end" *ngIf="!isApprove">
      <button [disabled]="!isHasExport" (click)="doExportUser()" pButton type="button" label="{{'btn.export' | translate}}" style="height: 46px"></button>
    </div>
  </form>
  <div class="p-d-flex p-justify-start p-align-start" *ngIf="isApprove" style="height: 70px; border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; display: flex; align-items: center">
    <div class="p-field-checkbox" id="userCheckBoxCustom">
      <p-checkbox [(ngModel)]="choosen" binary="true" inputId="binary" (click)="checkAllRows()"></p-checkbox>
      <label for="binary">{{ 'btn.choose' | translate}}</label>
    </div>
    <button pButton icon="pi pi-check-circle" label="Duyệt" (click)="gotoApprove('1')" class="p-button-outlined" style="margin-left: 70px"></button>
    <button pButton icon="pi pi-times-circle" label="Hủy" (click)="gotoApprove('3')" class="p-button-outlined" style="margin-left: 70px" ></button>
  </div>
  <p-table [value]="userList" styleClass="table-responsive"
           [customSort]="true"
           [autoLayout]="true"
           [lazy]="true"
           sortField="fullName"
           [sortOrder]="-1"
           [(selection)]="selectedUser"
           (onLazyLoad)="lazyLoadUser($event)">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem" *ngIf="isApprove">
          <p-tableHeaderCheckbox #checkAll [hidden]="true"></p-tableHeaderCheckbox>
        </th>
        <th id="noId" style="width: 50px;">{{'no' | translate}}</th>
        <th id="fullNameId" pSortableColumn="fullName">{{'user.fullName' | translate}}<p-sortIcon field="fullName"></p-sortIcon></th>
        <th id="userNameId">{{'user.userName' | translate}}</th>
        <th id="roleId" style="width: 250px;">{{'user.role' | translate}}</th>
        <th id="positionId" >{{'user.position' | translate}}</th>
        <th id="branchId" >{{'user.branch' | translate}}</th>
        <th id="approveUserId" *ngIf="isApprove">{{'user.approveUser' | translate}}</th>
        <th>{{'user.status' | translate}}</th>
        <th>
          <button *ngIf="isHasInsert && !isApprove" (click)="gotoCreate();" pButton type="button" label="{{'btn.create' | translate}}" icon="pi pi-plus" class="p-button-secondary p-button-outlined"></button>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user let-index="rowIndex">
      <tr>
        <td *ngIf="isApprove">
          <p-tableCheckbox [value]="user" ></p-tableCheckbox>
        </td>
        <td>{{index + 1}}</td>
        <td>{{user.user.fullName}}</td>
        <td>{{user.user.userName}}</td>
        <td class="text-primary">
          <ng-container *ngFor="let item of user.userRoleList;">
            {{item.name}};
          </ng-container>
        </td>
        <td>{{user.user.position}}</td>
        <td>
          <div *ngFor="let item of user.userBranchList | slice:0:user.maxShowBranch;index as i" [ngClass]="{'p-mt-2': i != 0}">
            <ng-container>{{item.branchId}} - {{item.branchName}}</ng-container>&nbsp;
          </div>
          <div *ngIf="user.userBranchList?.length > maxShowBranchInit" class="p-mt-1">
            <a *ngIf="user.maxShowBranch != user.userBranchList.length; else showLessAss" (click)="user.maxShowBranch = user.userBranchList.length" href="javascript:void('view more');">{{'viewMore' | translate}}</a>
            <ng-template #showLessAss><a (click)="user.maxShowBranch = maxShowBranchInit" href="javascript:void('view less');">{{'viewLess' | translate}}</a></ng-template>
          </div>
        </td>
        <td  *ngIf="isApprove">{{user.user.userApprove}}</td>
        <td>
          <ng-container [ngSwitch]="user.user.status" *ngIf="!isApprove">
            <div *ngSwitchCase="userConst.ACTIVE">{{'const.active' | translate}}</div>
            <div *ngSwitchCase="userConst.INACTIVE" class="p-invalid">{{'const.inactive' | translate}}</div>
          </ng-container>
          <ng-container [ngSwitch]="user.user.status" *ngIf="isApprove">
            <div *ngSwitchCase="userConst.ACTIVE">{{'const.approved' | translate}}</div>
            <div *ngSwitchCase="userConst.WAIT_APPROVE">{{'const.waitApprove' | translate}}</div>
            <div *ngSwitchCase="userConst.CANCEL" class="p-invalid">{{'const.cancel' | translate}}</div>
          </ng-container>
         </td>
        <td style="min-width: 175px">
          <div *ngIf="!isApprove">
            <button (click)="gotoView(user.user.userName)" pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text"></button>
            <button *ngIf="isHasEdit" (click)="gotoUpdate(user.user.userName)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text"></button>
            <button *ngIf="isHasDel && user.user.status == userConst.ACTIVE" (click)="doDelete(user)" pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
          </div>
          <div *ngIf="isApprove">
            <button (click)="gotoView(user.user.userName)" pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text"></button>
            <button *ngIf="isHasApprove && user.user.status === userConst.WAIT_APPROVE" (click)="gotoApprove(user.user.userName, userConst.ACTIVE)"  pButton type="button" icon="pi pi-check-circle" class="p-button-rounded p-button-success p-button-text"></button>
            <button *ngIf="isHasApprove && user.user.status === userConst.WAIT_APPROVE" (click)="gotoApprove(user.user.userName, userConst.CANCEL)" pButton type="button" icon="pi pi-minus-circle" class="p-button-rounded p-button-danger p-button-text"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="8">
          {{'noData' | translate}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator #userPaging [rows]="pageSize"
               [totalRecords]="totalItem"
               [rowsPerPageOptions]="[10, 20, 50, 100]"
               [showCurrentPageReport]="true"
               (onPageChange)="changePage($event)"
               currentPageReportTemplate="{{ 'paging' | translate }}">
  </p-paginator>
</p-panel>
