<p-panel header="Import User" [toggleable]="true">
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-5">
      <aw-input-upload (changeFile)="doChangeFile($event)"></aw-input-upload>
    </div>

    <div class="p-col-12 p-md-2">
      <button (click)="doCheckFile()" pButton type="button" label="{{'btn.checkData' | translate}}" class="p-button-secondary" style="height: 46px;"></button>
    </div>
  </div>
</p-panel>
<div class="p-my-3"></div>
<p-panel header="{{'list' | translate}}">
  <ng-template pTemplate="icons">
    <button class="p-panel-header-icon p-link" (click)="refreshSearch()" pTooltip="{{'btn.refresh' | translate}}" tooltipPosition="bottom">
      <i class="pi pi-refresh"></i>
    </button>
  </ng-template>
  <form class="p-grid p-fluid p-mb-3" [formGroup]="searchForm">
    <div class="p-lg-6 p-col-6 p-field">
      <label for="s-value">{{'user.fullName' | translate}}, {{'user.position' | translate}}</label>
      <input (keyup.enter)="getUserList()" type="text" id="s-value" formControlName="keySearch" pInputText placeholder="{{'search' | translate}}" />
    </div>
    <div class="p-lg-2 p-col-6 p-field">
      <label>{{'user.role' | translate}}</label>
      <p-dropdown [filter]="true" [options]="roleList" optionLabel="name" dataKey="id" formControlName="role"></p-dropdown>
    </div>
    <div class="p-lg-2 p-col-6 p-field">
      <label>{{'user.status' | translate}}</label>
      <p-dropdown [options]="statusList" optionLabel="name" dataKey="code" formControlName="status"></p-dropdown>
    </div>
    <div class="p-md-2 p-col-6 p-field p-d-flex p-align-end">
      <button (click)="getUserList()" pButton type="button" label="{{'filter' | translate}}" class="p-button-secondary" style="height: 46px"></button>
    </div>
  </form>
  <p-table [value]="userList" styleClass="table-responsive"
           [customSort]="true"
           [autoLayout]="true"
           [lazy]="true"
           sortField="fullName"
           [sortOrder]="-1"
           (onLazyLoad)="lazyLoadUser($event)">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50px;">{{'no' | translate}}</th>
        <th pSortableColumn="fullName">{{'user.fullName' | translate}}<p-sortIcon field="fullName"></p-sortIcon></th>
        <th>{{'user.userName' | translate}}</th>
        <th>{{'user.role' | translate}}</th>
        <th>{{'user.position' | translate}}</th>
        <th>{{'user.branch' | translate}}</th>
        <th>{{'user.status' | translate}}</th>
        <th>
          <button (click)="gotoCreate()" pButton type="button" label="{{'btn.create' | translate}}" icon="pi pi-plus" class="p-button-secondary p-button-outlined"></button>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user let-index="rowIndex">
      <tr>
        <td>{{index + 1}}</td>
        <td>{{user.user.fullName}}</td>
        <td>{{user.user.userName}}</td>
        <td class="text-primary">
          <ng-container *ngFor="let item of user.userRoleList;">
            {{item.name}};
          </ng-container>
        </td>
        <td>{{user.user.position}}</td>
        <td>
          <div *ngFor="let item of user.userBranchList;index as i" [ngClass]="{'p-mt-2': i != 0}">
            <ng-container>{{item.branchName}}</ng-container>&nbsp;
          </div>
        </td>
        <td>
          <ng-container [ngSwitch]="user.user.status">
            <ng-container *ngSwitchCase="userConst.ACTIVE">{{'const.active' | translate}}</ng-container>
            <ng-container *ngSwitchCase="userConst.INACTIVE">{{'const.inactive' | translate}}</ng-container>
          </ng-container>
         </td>
        <td>
          <button (click)="gotoView(user.user.userName)" pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text"></button>
          <button *ngIf="userLogged.isSupperAdmin || user.user.userName == userLogged.userName" (click)="gotoUpdate(user.user.userName)" pButton
                  type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text">
          </button>
          <button (click)="doDelete(user)" pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
      <tr>
        <td [attr.colspan]="8">
          {{'noData' | translate}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator [rows]="pageSize"
               [totalRecords]="totalItem"
               [rowsPerPageOptions]="[10, 20, 50, 100]"
               [showCurrentPageReport]="true"
               (onPageChange)="changePage($event)"
               currentPageReportTemplate="{{ 'paging' | translate }}">
  </p-paginator>
</p-panel>
