<div class="login-panel p-input-filled">
  <div class="p-grid">
    <div class="p-col-12 logo-container" style="text-align:center">
      <img src="assets/images/logo.png" alt="sale-app-layout" class="logo" />
    </div>

    <div class="form-container">
      <div class="p-col-12 p-text-center">
        <h3>{{'welcome' | translate}} </h3>
        <p-messages [value]="msgInvalid" [closable]="false"></p-messages>
      </div>
      <form [formGroup]="formLogin" class="form-group">
        <div class="p-col-12">
          <div class="input-wrapper p-field p-fluid">
            <label for="username">{{'username' | translate}}</label>
            <input type="text" id="username" autocomplete="off" pInputText formControlName="username" maxlength="100">
            <small *ngIf="hasErrorInput('username', 'required')" class="p-invalid">
              {{'invalid.username' | translate}}
            </small>
          </div>
        </div>

        <div class="p-col-12">
          <div class="input-wrapper p-field p-fluid">
            <label for="password">{{'password' | translate}}</label>
            <input type="password" id="password" autocomplete="off" pInputText formControlName="password" maxlength="100">
            <small *ngIf="hasErrorInput('password', 'required')" class="p-invalid">
              {{'invalid.password' | translate}}
            </small>
          </div>
        </div>

        <div class="p-col-12 button-container">
          <button type="submit" pButton label="{{'login' | translate}}" class="p-button-raised" (click)="doLogin()" [disabled]="isLoading" style="width: 100%;"></button>
        </div>

        <div class="p-col-12 p-text-center">
          <a href="javascript:void(0)" (click)="changeLang('vi')">Tiếng Việt | </a>
          <a href="javascript:void(0)" (click)="changeLang('en')">English</a>
        </div>
      </form>
    </div>
  </div>
</div>
