variables:
  REGISTRY_NAMESPACE: "salesappv4"

image: ebit.tpb.vn/node:12-alpine

build:nodejs:
  stage: build
  only:
    - tpb-sit
    - master
  tags:
    - linux
    - builder
  before_script:
    - npm config set proxy http://$PROXY_USER:$PROXY_PASS@$PROXY_HOST:$PROXY_PORT
    - npm set strict-ssl false
  script:
    - npm install
    - npx ngcc --properties es2015 --create-ivy-entry-points
    - npm run ng build -- --configuration=docker
    - rm -rf /salesapp/portal/
    - mkdir -p /salesapp/portal
    - cp -R ./dist/sale-web-portal /salesapp/portal/sale-web-portal
    - cp nginx.conf /salesapp/portal/

build:docker:
  stage: build
  image: ebit.tpb.vn/docker:19.03.12
  variables:
    REGISTRY_PASS: "Tpb@123"
    REGISTRY_HOST: "10.1.28.51:24007"
    REGISTRY_USER: "ebit"
  before_script:
    - echo $REGISTRY_PASS_SIT | docker login $REGISTRY_HOST --username $REGISTRY_USER --password-stdin
  only:
    - tpb-sit
    - master
  tags:
    - linux
    - builder
    - docker
  script:
    - export MODULE=portal
    - docker build -t $REGISTRY_HOST/$REGISTRY_NAMESPACE/$MODULE:$CI_PIPELINE_ID -f Dockerfile_runner /salesapp/portal/
    - docker push $REGISTRY_HOST/$REGISTRY_NAMESPACE/$MODULE:$CI_PIPELINE_ID

deploy:sit:
  stage: deploy
  only:
    - tpb-sit
  variables:
    KUBECONFIG: "/etc/gitlab-runner/k8s.sit"
    K8S_NAMESPACE: "salesapp2"
    REGISTRY_HOST: "10.1.28.51:24007"
  tags:
    - linux
    - deploy
  script:
    - /etc/gitlab-runner/helm --set salesapp.registrydomain=$REGISTRY_HOST --set salesapp.version=$CI_PIPELINE_ID --set salesapp.registryfolder=$REGISTRY_NAMESPACE --set stage=sit template helm-portal/ | /etc/gitlab-runner/kubectl apply -n=$K8S_NAMESPACE -f -
