variables:
  REGISTRY_NAMESPACE: "salesappv4"
  EBIT_PROJECT_LOCAL_DIR: /ebit/workspace/salesapp/portal

image: ebit.tpb.vn/node:12-alpine

build:nodejs:
  stage: build
  only:
    - tpb-sit
    - master
  tags:
    - docker02
  before_script:
    - npm config set proxy http://$PROXY_USER:$PROXY_PASS@$PROXY_HOST:$PROXY_PORT
    - npm set strict-ssl false
  script:
    - npm install
    - npx ngcc --properties es2015 --create-ivy-entry-points
    - npm run ng build -- --configuration=docker
    - rm -rf $EBIT_PROJECT_LOCAL_DIR/
    - mkdir -p $EBIT_PROJECT_LOCAL_DIR
    - cp -R ./dist/sale-web-portal $EBIT_PROJECT_LOCAL_DIR/sale-web-portal
    - cp nginx.conf $EBIT_PROJECT_LOCAL_DIR/

build:sit:docker:
  stage: build
  image: ebit.tpb.vn/docker:19.03.12
  before_script:
    - echo $EBIT_REGISTRY_PASS | docker login $EBIT_REGISTRY_HOST --username $EBIT_REGISTRY_USER --password-stdin
    - echo $REGISTRY_PASS_SIT | docker login $REGISTRY_HOST_SIT --username $REGISTRY_USER_SIT --password-stdin
  only:
    - tpb-sit
    - master
  tags:
    - docker02
  script:
    - export MODULE=portal
    - docker build -t $REGISTRY_HOST_SIT/$REGISTRY_NAMESPACE/$MODULE:$CI_PIPELINE_ID -t $EBIT_REGISTRY_HOST/$REGISTRY_NAMESPACE/$MODULE:$CI_PIPELINE_ID -f Dockerfile_runner $EBIT_PROJECT_LOCAL_DIR
    - docker push $REGISTRY_HOST_SIT/$REGISTRY_NAMESPACE/$MODULE:$CI_PIPELINE_ID
    - docker push $EBIT_REGISTRY_HOST/$REGISTRY_NAMESPACE/$MODULE:$CI_PIPELINE_ID

deploy:sit:
  image:
    name: ebit.tpb.vn/tpb/kubectl_sit:2
    entrypoint: [ "" ]
  stage: deploy
  only:
    - tpb-sit
  variables:
    K8S_NAMESPACE: "salesapp2"
  tags:
    - docker02
  script:
    - helm --set salesapp.registrydomain=$REGISTRY_HOST_SIT --set salesapp.version=$CI_PIPELINE_ID --set salesapp.registryfolder=$REGISTRY_NAMESPACE --set stage=sit template helm-portal/ | kubectl apply -n=$K8S_NAMESPACE -f -
