variables:
  REGISTRY_NAMESPACE: "salesappv4"
  K8S_NAMESPACE_SIT: "salesapp2"
  EBIT_BUILD_DIR: /ebit/workspace/salesapp
  EBIT_PROJECT_LOCAL_DIR: portal

image: ebit.tpb.vn/node:12-alpine

build:nodejs:
  stage: build
  only:
    - tpb-sit
    - master
  tags:
    - docker02
  before_script:
    - npm config set proxy http://$PROXY_USER:$PROXY_PASS@$PROXY_HOST:$PROXY_PORT
    - npm set strict-ssl false
  script:
    - npm install
    - npx ngcc --properties es2015 --create-ivy-entry-points
    - npm run ng build -- --configuration=docker
    - rm -rf $EBIT_BUILD_DIR/$EBIT_PROJECT_LOCAL_DIR
    - mkdir -p $EBIT_BUILD_DIR/$EBIT_PROJECT_LOCAL_DIR
    - cp -R ./dist/sale-web-portal $EBIT_BUILD_DIR/$EBIT_PROJECT_LOCAL_DIR/sale-web-portal
    - cp nginx.conf $EBIT_BUILD_DIR/$EBIT_PROJECT_LOCAL_DIR/

build:sit:docker:
  stage: build
  image: ebit.tpb.vn/docker:19.03.12
  variables:
    REGISTRY_PASS: $REGISTRY_PASS_SIT
    REGISTRY_HOST: $REGISTRY_HOST_SIT
    REGISTRY_USER: $REGISTRY_USER_SIT
  before_script:
    - echo $REGISTRY_PASS | docker login $REGISTRY_HOST --username $REGISTRY_USER --password-stdin
  only:
    - tpb-sit
    - master
  tags:
    - docker02
  script:
    - export MODULE=portal
    - docker build -t $REGISTRY_HOST/$REGISTRY_NAMESPACE/$MODULE:$CI_PIPELINE_ID -f Dockerfile_runner $EBIT_BUILD_DIR/$EBIT_PROJECT_LOCAL_DIR/
    - docker push $REGISTRY_HOST/$REGISTRY_NAMESPACE/$MODULE:$CI_PIPELINE_ID

deploy:sit:
  stage: deploy
  image: ebit.tpb.vn/tpb/kubectl_sit:2
  only:
    - tpb-sit
  variables:
    K8S_NAMESPACE: $K8S_NAMESPACE_SIT
    REGISTRY_HOST: $REGISTRY_HOST_SIT
  tags:
    - linux
    - deploy
  script:
    - helm --set salesapp.registrydomain=$REGISTRY_HOST --set salesapp.version=$CI_PIPELINE_ID --set salesapp.registryfolder=$REGISTRY_NAMESPACE --set stage=sit template helm-portal/ | kubectl apply -n=$K8S_NAMESPACE -f -
