<div class="layout-wrapper layout-static layout-light" [ngClass]="{'layout-mobile-active': staticMenuMobileActive,
                                        'layout-static-inactive': staticMenuDesktopInactive}" (click)="onLayoutClick()">


  <div class="layout-main">
    <aw-topbar></aw-topbar>

    <div class="layout-content">
      <aw-global-indicator></aw-global-indicator>
      <router-outlet></router-outlet>
    </div>

    <div class="layout-main-mask"></div>
  </div>

<!--  <aw-config></aw-config>-->

  <aw-menu></aw-menu>
</div>
