<p-panel header="{{'kpi.info' | translate}}">
  <div class="split-horizontal-no-line"></div>
  <aw-kpi-info [kpiData]="kpiData"></aw-kpi-info>

  <h5 class="p-text-bold">{{'kpi.update' | translate}}</h5>
  <aw-kpi-filter (filter)="doFilter($event)" [areaList]="areaList"></aw-kpi-filter>

  <p-table #tableKpi dataKey="id" [value]="kpiAreaList"
           [(selection)]="kpiAreaSelectedList"
           (selectionChange)="cboChange($event)"
           [paginator]="true"
           [rows]="10"
           [totalRecords]="kpiAreaList.length"
           [rowsPerPageOptions]="[10, 20, 50, 100]"
           [showCurrentPageReport]="true"
           currentPageReportTemplate="{{ 'paging' | translate }}">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50px;">{{'no' | translate}}</th>
        <th>{{'kpi.indexList' | translate}}</th>
        <th>{{'kpi.area' | translate}}</th>
        <th>{{'kpi.isTargetGroup' | translate}}</th>
        <th>{{'kpi.chooseTargetGroup' | translate}}</th>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          {{'kpi.allowDisplay' | translate}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr >
        <td>{{i + 1}}</td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input style="width: 100%;" pInputText type="text" [(ngModel)]="item.value">
            </ng-template>
            <ng-template pTemplate="output">
              {{item.value}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-dropdown [autoDisplayFirst]="false" [style]="{'width':'100%'}" [options]="areaList" [(ngModel)]="item.area" optionLabel="name" dataKey="id">
                <ng-template let-area pTemplate="selectedItem">
                  <div class="p-d-flex p-align-center">
                    <i class="pi pi-circle-on" [ngStyle]="{'color': area.value.color}"></i>
                    <div class="p-ml-2">{{area.label}}</div>
                  </div>
                </ng-template>
                <ng-template let-area pTemplate="item">
                  <div class="p-d-flex p-align-center">
                    <i class="pi pi-circle-on" [ngStyle]="{'color': area.value.color}"></i>
                    <div class="p-ml-2">{{area.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              <ng-container *ngIf="item.area.id else notArea">
                <i class="pi pi-circle-on" [ngStyle]="{'color': item.area?.color}"></i>
                {{item.area?.name}}
              </ng-container>
              <ng-template #notArea>
                {{'kpi.selectArea' | translate}}
              </ng-template>
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-checkbox [(ngModel)]="item.isMainIndex" [binary]="true"
                      (onChange)="loadMainIndex(item);  "
                      [readonly]="item.disabledCheckMain"></p-checkbox>
        </td>
        <td pEditableColumn>
          <p-cellEditor *ngIf="!item.isMainIndex">
            <ng-template pTemplate="input">
              <p-dropdown [autoDisplayFirst]="false" [style]="{'width':'100%'}" (onChange)="loadMainIndex(null)"
                          [options]="targetSelection" [(ngModel)]="item.targetGroup" >
                <ng-template let-target pTemplate="selectedItem">
                  <div class="p-d-flex p-align-center">
                    <div class="p-ml-2">{{target.label}}</div>
                  </div>
                </ng-template>
                <ng-template let-target pTemplate="item">
                  <div class="p-d-flex p-align-center">
                    <div class="p-ml-2">{{target.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              <ng-container  *ngIf="item.targetGroup else notTarget">
                {{item.targetGroup}}
              </ng-container>
              <ng-template #notTarget>
                <span style="color: #7f8087">{{'kpi.selectTarget' | translate}}
                  <i class="pi pi-fw pi-angle-down" style="color: #582E91"></i></span>
              </ng-template>
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-checkbox [(ngModel)]="item.isShow" [binary]="true" (ngModelChange)="clickCheckBoxShow(item)"></p-checkbox>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="5">
          {{'noData' | translate}}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div class="p-text-right p-mt-3">
    <button (click)="goBack()" pButton label="{{'btn.back' | translate}}" class="p-button-secondary"></button>&nbsp;
    <button (click)="doSave()" pButton label="{{'btn.save' | translate}}"></button>
  </div>
</p-panel>
