<p-table
  [autoLayout]="true"
  [value]="featureList">
  <ng-template pTemplate="header">
    <tr>
      <th id="titleTh">{{'action.title' | translate}}</th>
      <th id="viewTh">{{'action.view' | translate}}</th>
      <th id="addTh">{{'action.add' | translate}}</th>
      <th id="editTh">{{'action.edit' | translate}}</th>
      <th id="deleteTh">{{'action.delete' | translate}}</th>
      <th id="browseTh">{{'action.approve' | translate}}</th>
      <th id="onOffTh">{{'action.onOff' | translate}}</th>
      <th id="importTh">{{'action.import' | translate}}</th>
      <th id="exportTh">{{'action.export' | translate}}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-feature let-index="rowIndex">
    <tr>
      <td>{{feature.translatedName}}</td>
      <td>
        <p-checkbox [disabled]="!feature.canView" binary="true" [(ngModel)]="feature.isViewAble" inputId="binary-view"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canAdd" binary="true" [(ngModel)]="feature.isAddAble" inputId="binary-add"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canEdit" binary="true" [(ngModel)]="feature.isEditAble" inputId="binary-edit"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canDel" binary="true" [(ngModel)]="feature.isDelAble" inputId="binary-del"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canApprove" binary="true" [(ngModel)]="feature.isApproveAble" inputId="binary-del"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canOnOff" binary="true" [(ngModel)]="feature.isOnOffAble" inputId="binary-on-off"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canImport" binary="true" [(ngModel)]="feature.isImportAble" inputId="binary-del"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canExport" binary="true" [(ngModel)]="feature.isExportAble" inputId="binary-on-off"></p-checkbox>
      </td>
    </tr>
  </ng-template>
</p-table>
