<p-table
  [autoLayout]="true"
  [value]="featureList">
  <ng-template pTemplate="header">
    <tr>
      <th>{{'action.title' | translate}}</th>
      <th>{{'action.view' | translate}}</th>
      <th>{{'action.add' | translate}}</th>
      <th>{{'action.edit' | translate}}</th>
      <th>{{'action.delete' | translate}}</th>
      <th>{{'action.onOff' | translate}}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-feature let-index="rowIndex">
    <tr>
      <td>{{feature.translatedName}}</td>
      <td>
        <p-checkbox [disabled]="!feature.canView" binary="true" [(ngModel)]="feature.isViewAble" inputId="binary-view"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canAdd" binary="true" [(ngModel)]="feature.isAddAble" inputId="binary-add"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canEdit" binary="true" [(ngModel)]="feature.isEditAble" inputId="binary-edit"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canDel" binary="true" [(ngModel)]="feature.isDelAble" inputId="binary-del"></p-checkbox>
      </td>
      <td>
        <p-checkbox [disabled]="!feature.canOnOff" binary="true" [(ngModel)]="feature.isOnOffAble" inputId="binary-on-off"></p-checkbox>
      </td>
    </tr>
  </ng-template>
</p-table>
