<p-card>
  <p style="color: rgba(70, 37, 116, 1)">Đăng ký bảo hiểm tại Công ty Cổ phần Bảo hiểm Quân Đội</p>
  <p style="color: rgba(70, 37, 116, 1)">Cán bộ bán hàng: Nguyễn Văn Hưng (HungNV)</p>
  <table id="tableInsurance" style=" border-collapse: collapse; width: 50%;">
    <tr>
      <td>Trạng thái</td>
      <td>Hoàn thành</td>
    </tr>
    <tr>
      <td>Ngày thanh toán</td>
      <td>10/11/2021</td>
    </tr>
    <tr>
      <td>Ngày hiệu lực</td>
      <td>10/11/2021</td>
    </tr>
    <tr>
      <td>Phí (Bao gồm VAT)</td>
      <td>66.000 đ</td>
    </tr>
    <tr>
      <td>Thông tin thanh toán</td>
      <td>Ten: Tong Cong ty Co phan Bao Hiem Quan doi <br>
        STK: 123456789<br>
        Ngan hang: TPBANK<br>
        Noi dung: Nop phi cho GCN 893406100461</td>
    </tr>
    <tr>
      <td>Giấy chứng nhận bảo hiểm</td>
      <td>Hoàn thành</td>
    </tr>
  </table>
</p-card>
<div class="p-mt-5"></div>
<form [formGroup]="insuranceForm">
<p-card>
  <p-tabView >
    <p-tabPanel header="{{'insurance.form.car.title' | translate | uppercase}}">
      <ng-template pTemplate="body"  >
        <div class="p-grid p-fluid">
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-brand' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-modal' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-engine-number' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-chassis-number' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-seat-size' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-capacity' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-value' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-business' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-type' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-target' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-manufacture-year' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
        </div>
      </ng-template>


    </p-tabPanel>
    <p-tabPanel header="{{'insurance.form.insurance-scope.title' | translate | uppercase}}">
      <ng-template pTemplate="body"  >
        <div class="p-grid p-fluid">
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.scope-from-date' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.scope-to-date' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-12">
            <span style="font-size: 18px; color: #4F4F4F;">TNDS BẮT BUỘC</span>
          </div>
          <div class="p-md-12">
            <small style="font-size: 16px; color: #4F4F4F;">Số người được bảo hiểm</small>
          </div>
          <div class="p-md-12">
            <span style="font-size: 18px; color: #4F4F4F;">TAI NẠN LÁI, PHỤ XE & NGƯỜI NGỒI TRÊN XE</span>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.scope-people-number' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-12">
            <span style="font-size: 18px; color: #4F4F4F;">VẬT CHẤT XE</span>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.scope-car-value' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.scope-money-insurance' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.scope-term' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
        </div>
      </ng-template>

    </p-tabPanel>
    <p-tabPanel header="{{'insurance.form.car-owner.title' | translate | uppercase}}">
      <ng-template pTemplate="body"  >
        <div class="p-grid p-fluid">
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-brand' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-modal' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-engine-number' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-chassis-number' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-seat-size' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
          <div class="p-md-6 p-col-6 p-field">
            <label>{{'insurance.form.car-capacity' | translate}}</label>
            <input type="text"   pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
            <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
              {{'insurance.search.pattern' | translate}}
            </small>
          </div>
        </div>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
  <div class="split-horizontal"></div>
  <div class="p-text-center">
    <button pButton (click)="doCancel()" type="button" label="{{'btn.cancel' | translate}}" class="p-button-raised p-button-text p-button-plain p-mr-3"></button>
    <ng-container *ngIf="isEdit">
      <button pButton (click)="doUpdate()" type="button" label="{{'btn.save' | translate}}" class="p-button-secondary"></button>
    </ng-container>
  </div>
</p-card>
</form>


