<p-card>
  <p style="color: rgba(70, 37, 116, 1)">Đăng ký bảo hiểm tại Công ty Cổ phần Bảo hiểm Quân Đội</p>
  <p style="color: rgba(70, 37, 116, 1)">Cán bộ bán hàng: Nguyễn Văn Hưng (HungNV)</p>
  <table id="tableInsurance" style=" border-collapse: collapse; width: 50%;">
    <tr>
      <td>Trạng thái</td>
      <td>Hoàn thành</td>
    </tr>
    <tr>
      <td>Ngày thanh toán</td>
      <td>10/11/2021</td>
    </tr>
    <tr>
      <td>Ngày hiệu lực</td>
      <td>10/11/2021</td>
    </tr>
    <tr>
      <td>Phí (Bao gồm VAT)</td>
      <td>66.000 đ</td>
    </tr>
    <tr>
      <td>Thông tin thanh toán</td>
      <td>Ten: Tong Cong ty Co phan Bao Hiem Quan doi <br>
        STK: 123456789<br>
        Ngan hang: TPBANK<br>
        Noi dung: Nop phi cho GCN 893406100461</td>
    </tr>
    <tr>
      <td>Giấy chứng nhận bảo hiểm</td>
      <td>Hoàn thành</td>
    </tr>
  </table>
</p-card>


