<p-panel header="Import KPI">
  <div class="p-grid p-fluid">
    <div class="p-col-12 p-md-6 p-field">
      <label>Loại báo cáo</label>
      <input pInputText/>
    </div>
    <div class="p-col-12 p-md-6 p-field">
      <label>File Import</label>
      <aw-input-upload selectLabel="Tải lên"></aw-input-upload>
      <span class="p-mt-2 p-d-block"> Tải về tệp tin mẫu
        <a href="assets/resource/User%20TitleSalesApp_v1.xlsx" target="_blank"> Tại đây</a>
      </span>
    </div>
  </div>

  <div class="p-grid">
    <div class="p-col-12 p-md-12 p-text-center">
      <button pButton type="button" label="Kiểm tra dữ liệu" class="p-button-secondary"></button>
    </div>
  </div>
</p-panel>
<div class="p-my-3"></div>
<p-panel header="Bảng tính KPI">
  <p-table [value]="listKpi">
    <ng-template pTemplate="header">
      <tr>
        <th>STT</th>
        <th>SHNV</th>
        <th>Họ và tên</th>
        <th>Miscode CBKD</th>
        <th>Miscode của Trưởng nhóm quản lý</th>
        <th>Tình trạng HĐLĐ</th>
        <th>Chức danh/Bộ phận</th>
        <th>Mã CN</th>
        <th>Tên CN</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-kpi let-index="rowIndex">
      <tr>
        <td>{{index + 1}}</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
        <td>-</td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
