<div class="p-grid p-fluid">
  <div class="p-col-12 p-md-6 p-field">
    <label>Loại báo cáo</label>
    <p-dropdown [filter]="true"
      [formControl]="reportType"
      [options]="listTagKpi"
      [autoDisplayFirst]="false" optionLabel="value" dataKey="keyTag">
    </p-dropdown>
    <span class="p-mt-2 p-d-block"> Tải về tệp tin mẫu
      <a href="assets/resource/User%20TitleSalesApp_v1.xlsx" target="_blank"> Tại đây</a>
    </span>
    <small *ngIf="reportType.invalid && reportType.dirty" class="p-invalid">
      Giá trị không được để trống
    </small>
  </div>
  <div class="p-col-12 p-md-6 p-field">
    <label>File Import</label>
    <aw-input-upload (changeFile)="doChangeFile($event)" selectLabel="Tải lên"></aw-input-upload>
  </div>
</div>

<div class="p-grid">
  <div class="p-col-12 p-md-12 p-text-center">
    <button (click)="doCheckFile()" pButton type="button" label="Kiểm tra dữ liệu" class="p-button-secondary"></button>
  </div>
</div>

