<div class="p-fluid p-grid">
  <div class="p-md-6 p-col-12 p-field">
    <label>{{'role.tagNews' | translate}}:</label>
    <p-pickList
      sourceHeader="{{'tagList' | translate}}"
      targetHeader="{{'selectedList' | translate}}"
      filterBy="value"
      [dragdrop]="true"
      [responsive]="true"
      [sourceStyle]="{'height':'300px'}"
      [targetStyle]="{'height':'300px'}"
      [showSourceControls]="false"
      [showTargetControls]="false"
      [source]="tagNewsList"
      [target]="tagNewsSelectedList">
      <ng-template let-tag pTemplate="item">
        <div class="tag-item">{{tag.value}}</div>
      </ng-template>
    </p-pickList>
  </div>

  <div class="p-md-6 p-col-12 p-field">
    <label>{{'role.tagKpi' | translate}}:</label>
    <p-pickList
      sourceHeader="{{'tagList' | translate}}"
      targetHeader="{{'selectedList' | translate}}"
      filterBy="value"
      [dragdrop]="true"
      [responsive]="true"
      [sourceStyle]="{'height':'300px'}"
      [targetStyle]="{'height':'300px'}"
      [showSourceControls]="false"
      [showTargetControls]="false"
      [source]="tagKpiList"
      [target]="tagKpiSelectedList">
      <ng-template let-tag pTemplate="item">
        <div class="tag-item">{{tag.value}}</div>
      </ng-template>
    </p-pickList>
  </div>

</div>
