<p-panel header="{{'detail' | translate}}">
  <div class="split-header-panel"></div>

  <div class="p-fluid p-grid">
    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'user.fullName' | translate}}:</label>
      <div class="title-right">{{userDetail.user?.fullName}}</div>
    </div>

    <div class="p-md-3 p-col-12 detail">
      <label class="title-left">{{'user.role' | translate}}:</label>
      <div class="title-right">{{userDetail.user?.role}}</div>
    </div>

    <div class="p-md-3 p-col-12 detail">
      <label class="title-left">{{'user.status' | translate}}:</label>
      <div class="title-right">
        <ng-container [ngSwitch]="userDetail.user?.statusCode">
          <ng-container *ngSwitchCase="userConst.ACTIVE">
            {{'const.active' | translate}}
          </ng-container>
          <ng-container *ngSwitchCase="userConst.INACTIVE">
            {{'const.inactive' | translate}}
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="p-fluid p-grid p-mt-2">
    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'user.userName' | translate}}:</label>
      <div class="title-right">{{userDetail.user?.userName}}</div>
    </div>
  </div>

  <div class="p-fluid p-grid p-mt-2">
    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'user.email' | translate}}:</label>
      <div class="title-right">{{userDetail.user?.email}}</div>
    </div>

    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'user.phone' | translate}}:</label>
      <div class="title-right">{{userDetail.user?.phone}}</div>
    </div>
  </div>

  <div class="p-fluid p-grid p-mt-2">
    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'user.position' | translate}}:</label>
      <div class="title-right">{{userDetail.user?.position}}</div>
    </div>

    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'user.branch' | translate}}:</label>
      <div class="title-right">
        <ng-container *ngFor="let item of userDetail.userBranchList">
          <li>{{item.branchName}}</li>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="p-fluid p-grid p-mt-2">
    <div class="p-md-3 p-col-12 detail">
      <label class="title-left">{{'user.tagQna' | translate}}:</label>
      <div class="title-right">
        <ng-container *ngFor="let item of userDetail.listTagQnA">
          <li>{{item.tagValue}}</li>
        </ng-container>
      </div>
    </div>

    <div class="p-md-3 p-col-12 detail">
      <label class="title-left">{{'user.tagNews' | translate}}:</label>
      <div class="title-right">
        <ng-container *ngFor="let item of userDetail.listTagNews">
          <li>{{item.tagValue}}</li>
        </ng-container>
      </div>
    </div>

    <div class="p-md-3 p-col-12 detail">
      <label class="title-left">{{'user.tagKpi' | translate}}:</label>
      <div class="title-right">
        <ng-container *ngFor="let item of userDetail.listTagKPI">
          <li>{{item.tagValue}}</li>
        </ng-container>
      </div>
    </div>

    <div class="p-md-3 p-col-12 detail">
      <label class="title-left">{{'user.tagTool' | translate}}:</label>
      <div class="title-right">
        <ng-container *ngFor="let item of userDetail.listTagTool">
          <li>{{item.tagValue}}</li>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="split-horizontal"></div>
  <div class="p-text-center">
    <button pButton (click)="doCancel()" type="button" label="{{'btn.cancel' | translate}}" class="p-button-raised p-button-text p-button-plain p-mr-3"></button>
  </div>
</p-panel>
