<p-panel header="{{'detail' | translate }}">
  <div class="split-header-panel"></div>
  <div class="p-fluid p-grid">
    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'tags.code' | translate}}:</label>
      <div class="title-right">{{tagDetail.keyTag}}</div>
    </div>

    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'tags.name' | translate}}:</label>
      <div class="title-right">{{tagDetail.value}}</div>
    </div>

    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'tags.type' | translate}}:</label>
      <div class="title-right">
        <ng-container [ngSwitch]="tagDetail.type">
          <li *ngSwitchCase="tagConst.KPI">{{'const.kpi' | translate}}</li>
          <li *ngSwitchCase="tagConst.NEWS">{{'const.news' | translate}}</li>
        </ng-container>
      </div>
    </div>

    <div class="p-md-6 p-col-12 detail">
      <label class="title-left">{{'tags.status' | translate}}:</label>
      <div class="title-right">
        <ng-container [ngSwitch]="tagDetail.status">
          <li *ngSwitchCase="tagConst.STATUS_ACTIVE">{{'const.active' | translate}}</li>
          <li *ngSwitchCase="tagConst.STATUS_INACTIVE">{{'const.inactive' | translate}}</li>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="split-horizontal"></div>
  <div class="p-text-center">
    <button pButton (click)="doCancel()" type="button" label="{{'btn.cancel' | translate}}" class="p-button-raised p-button-text p-button-plain p-mr-3"></button>
  </div>
</p-panel>
