<div class="p-grid">
  <div class="p-md-4 p-col-12" style="border-right: 1px solid #cccccc;">
    <h5>{{'kpi.typeReport' | translate}}</h5>
    <div>{{kpiData.tagName}}</div>
  </div>
  <div class="p-md-4 p-col-12 p-pl-md-5" style="border-right: 1px solid #cccccc;">
    <h5>{{'kpi.createDate' | translate}}</h5>
    <div>{{kpiData.createDate | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
  </div>
  <div class="p-md-4 p-col-12 p-pl-md-5">
    <h5>{{'kpi.modifyDate' | translate}}</h5>
    <div>{{kpiData.modifyDate | date: 'dd/MM/yyyy HH:mm:ss'}}</div>
  </div>
</div>
