<div class="exception-body access">
  <div class="p-grid">
    <div class="p-col-12 logo-container">
      <img src="assets/images/logo.png" alt="sale-app-layout"/>
    </div>
  </div>
  <div class="exception-panel">
    <div class="exception-panel-content">
      <div>
        <h1 class="title">403</h1>
        <span><strong>{{'public.accessDenied' | translate}}.</strong></span>
        <p>{{'public.backHome' | translate}}</p>
      </div>
    </div>

    <div class="exception-panel-footer">
      <button type="button" pButton label="{{'public.btnBack' | translate}}" [routerLink]="['/']"></button>
    </div>
  </div>
</div>
