<form class="p-grid p-fluid p-mb-6" [formGroup]="qaForm" >

  <div class=" p-col-6 p-field">
    <label>{{'qa.question' | translate}} <span class="p-invalid" *ngIf="mode !== 'view'">*</span></label>
    <input type="text" id="s-question"  pInputText formControlName="question" />
    <small *ngIf="hasErrorInput('question', 'required')" class="p-invalid">
      {{'invalid.question.required' | translate}}
    </small>
    <small *ngIf="hasErrorInput('question', 'maxlength')" class="p-invalid">
      {{ 'invalid.question.maxLength' | translate:{length: 3000} }}
    </small>
  </div>
  <div class="p-col-6 p-field">
    <label>{{'qa.status' | translate}}  <span class="p-invalid" *ngIf="mode !== 'view'">*</span></label>
    <p-dropdown [options]="statusList" optionLabel="label" dataKey="value"  formControlName="status"></p-dropdown>
  </div>
    <div class="p-col-12 p-field">
      <label>{{'qa.answer' | translate}}  <span class="p-invalid" *ngIf="mode !== 'view'">*</span></label>
      <textarea id="s-answer"  pInputTextarea [rows]="15"  formControlName="answer"></textarea>
      <small *ngIf="hasErrorInput('answer', 'required')" class="p-invalid">
        {{'invalid.answer.required' | translate}}
      </small>
      <small *ngIf="hasErrorInput('answer', 'maxlength')" class="p-invalid">
        {{ 'invalid.answer.maxLength' | translate:{length: 3000} }}
      </small>
    </div>
  <div class="split-horizontal" ></div>
  <div class="p-text-center p-flex-row p-justify-center p-align-center" style="display: flex; width: 100%">
    <div class="p-col-2">
      <button pButton type="button" (click)="doCancel()" label="{{'btn.cancel' | translate}}" class="p-button-raised p-button-text p-button-plain p-mr-3"></button>
    </div>
    <div class="p-col-2" *ngIf="mode !== 'view'">
      <button pButton type="button" (click)="doSave()" label="{{'btn.save' | translate}}" class="p-button-raised p-button-secondary"></button>

    </div>
  </div>
</form>
