<form class="p-grid p-fluid p-mb-3">
  <div class="p-md-2 p-sm-4">
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Tìm kiếm bảng tin" />
     </span>
  </div>

  <div class="p-md-2 p-sm-4">
    <p-dropdown [options]="statusList"></p-dropdown>
  </div>
  <div class="p-md-2 p-sm-4">
    <p-dropdown [options]="statusList"></p-dropdown>
  </div>
  <div class="p-md-2 p-sm-4">
    <p-dropdown [options]="statusList"></p-dropdown>
  </div>
  <div class="p-md-2 p-sm-4">
    <p-dropdown [options]="statusList"></p-dropdown>
  </div>
  <div class="p-md-2 p-sm-4">
    <button pButton type="button" label="Lọc kết quả" class="p-button-secondary" style="height: 100%"></button>
  </div>
</form>
