<form [formGroup]="formUser">
  <div class="p-fluid p-grid">
    <div class="p-md-6 p-col-12 p-field">
      <label for="n-user-id">{{'user.userName' | translate}} <span class="p-invalid">*</span></label>
      <input awAutoUppercase (keydown.space)="$event.preventDefault()" pInputText id="n-user-id" formControlName="userId"/>
      <small *ngIf="hasErrorInput('userId', 'required')" class="p-invalid">
        {{'invalid.userId.required' | translate}}
      </small>
      <small *ngIf="hasErrorInput('userId', 'pattern')" class="p-invalid">
        {{'invalid.userId.pattern' | translate}}
      </small>
      <small *ngIf="hasErrorInput('userId', 'maxlength')" class="p-invalid">
        {{'invalid.userId.maxLength' | translate: {length: 100} }}
      </small>
    </div>

    <div class="p-md-6 p-col-12 p-field">
      <label for="n-status">{{'user.status' | translate}} <span class="p-invalid">*</span></label>
      <p-dropdown formControlName="status" inputId="n-status" [options]="statusList" optionLabel="name" dataKey="code"></p-dropdown>
    </div>
  </div>

  <div class="p-fluid p-grid">
    <div class="p-md-6 p-col-12 p-field">
      <label for="n-fullName">{{'user.fullName' | translate}} <span class="p-invalid">*</span></label>
      <input id="n-fullName" type="text" pInputText formControlName="fullName"/>
      <small *ngIf="hasErrorInput('fullName', 'required')" class="p-invalid">
        {{'invalid.fullName.required' | translate}}
      </small>
    </div>

    <div class="p-md-6 p-col-12 p-field">
      <label for="n-phone">{{'user.phone' | translate}}</label>
      <input id="n-phone" type="text" pInputText formControlName="phone" />
    </div>
  </div>

  <div class="p-fluid p-grid">
    <div class="p-md-6 p-col-12 p-field">
      <label for="n-email">{{'user.email' | translate}}</label>
      <input id="n-email" type="text" pInputText formControlName="email" />
    </div>

    <div class="p-md-6 p-col-12 p-field">
      <label for="n-location">{{'user.position' | translate}}</label>
      <input id="n-location" type="text" pInputText formControlName="position" />
    </div>

  </div>

  <div class="p-fluid p-grid">
    <div class="p-md-6 p-col-12 p-field">
      <label for="n-unit">{{'user.unit' | translate}} <span class="p-invalid">*</span></label>
      <p-dropdown [autoDisplayFirst]="false" [filter]="true" formControlName="unit" inputId="n-unit" [options]="unitList" optionLabel="name" dataKey="id"></p-dropdown>
      <small *ngIf="hasErrorInput('unit', 'required')" class="p-invalid">
        {{'invalid.unit.required' | translate}}
      </small>
    </div>

    <div class="p-md-6 p-col-12 p-field">
      <label for="n-branch">{{'user.branch' | translate}} <span class="p-invalid">*</span></label>
      <p-multiSelect
        [filter]="true"
        filterBy="label,value.code"
        formControlName="branch"
        inputId="n-branch" [options]="branchList"
        optionLabel="name"
        dataKey="code">
        <ng-template let-branch pTemplate="item">
          <div>{{branch.value.code}} - {{branch.value.name}}</div>
        </ng-template>
      </p-multiSelect>
      <small *ngIf="hasErrorInput('branch', 'required')" class="p-invalid">
        {{'invalid.branch.required' | translate}}
      </small>
    </div>
  </div>

  <div class="p-fluid p-grid">
    <div class="p-md-6 p-col-12 p-field">
      <label for="n-department">{{'user.department' | translate}} <span class="p-invalid">*</span></label>
      <p-dropdown [autoDisplayFirst]="false" [filter]="true" formControlName="department" inputId="n-department" [options]="departmentList" optionLabel="name" dataKey="id"></p-dropdown>
      <small *ngIf="hasErrorInput('department', 'required')" class="p-invalid">
        {{'invalid.department.required' | translate}}
      </small>
    </div>
  </div>

  <div class="split-horizontal"></div>

  <div class="p-fluid p-grid">
    <div class="p-col-12 p-field">
      <label>{{'user.role' | translate}} <span class="p-invalid">*</span></label>
      <p-pickList
        sourceHeader="{{'roleList' | translate}}" targetHeader="{{'selectedRoleList' | translate}}"
        filterBy="name"
        [dragdrop]="true"
        [responsive]="true"
        [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}"
        [showSourceControls]="false"
        [showTargetControls]="false"
        [source]="roleList"
        [target]="roleSelectedList">
        <ng-template let-role pTemplate="item">
          <div class="tag-item">{{role.name}}</div>
        </ng-template>
      </p-pickList>
      <small *ngIf="hasErrorInput('role', 'required')" class="p-invalid" style="float: right;">
        {{'invalid.role.required' | translate}}
      </small>
    </div>

  </div>
</form>

<ng-content></ng-content>

<div class="split-horizontal"></div>
<div class="p-text-center">
  <button pButton (click)="doCancel()" type="button" label="{{'btn.cancel' | translate}}" class="p-button-raised p-button-text p-button-plain p-mr-3"></button>
  <button *ngIf="mode == 'update'" pButton (click)="doSave()" type="button" label="{{'btn.save' | translate}}" class="p-button-raised p-button-secondary"></button>
  <button *ngIf="mode == 'create'" pButton (click)="doSave()" type="button" label="{{'btn.create' | translate}}" class="p-button-raised p-button-secondary"></button>
</div>
