<p-card>
  <aw-qa-import (doFilter)="doFilter()"></aw-qa-import>
</p-card>
<div class="p-mt-5"></div>
<p-panel >
  <ng-template pTemplate="header" >
    <h2 class="custom-title">{{'qa.qa-data.title' | translate}}</h2>
  </ng-template>
  <ng-template pTemplate="icons" >
    <button class="p-panel-header-icon p-link" (click)="refreshSearch()" pTooltip="{{'btn.refresh' | translate}}" tooltipPosition="bottom">
      <i class="pi pi-refresh"></i>
    </button>
  </ng-template>
  <form class="p-grid p-fluid p-mb-6" [formGroup]="formFilter" (keyup.enter)="doFilter()">
    <div class="p-md-6 p-col-8 p-field">
      <label>{{'qa.search' | translate}}</label>
      <input type="text" id="s-valueBranch"  pInputText placeholder="{{'search' | translate}}" formControlName="keyword" />
      <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
        {{'qa.search.pattern' | translate}}
      </small>
    </div>
    <div class="p-lg-2 p-col-4 p-field p-ml-5" >
      <label>{{'qa.status' | translate}}</label>
      <p-dropdown [options]="statusList" optionLabel="label" dataKey="value" formControlName="status"></p-dropdown>
    </div>
    <div class="p-col-4  p-d-flex  p-pl-5 p-lg-2 p-field p-pt-5">
      <button (click)="doFilter()"   pButton type="button" label="{{'filter' | translate}}" class="p-button-secondary" style="height: 46px"></button>
    </div>

  </form>

  <p-table [value]="qnaList" styleClass="table-responsive"
           [customSort]="true"
           [autoLayout]="true"
           [lazy]="true"
           sortField="fullName"
           [sortOrder]="-1"
           (onLazyLoad)="lazyLoadUser($event)">
    <ng-template pTemplate="header">
      <tr>
        <th id="noId" style="width: 50px;">{{'no' | translate}}</th>
        <th id="userNameId">{{'qa.question' | translate}}</th>
        <th id="roleId" style="width: 250px;">{{'qa.createDate' | translate}}</th>
        <th>{{'qa.status' | translate}}</th>
        <th>
          <button *ngIf="isHasInsert" (click)="gotoCreate();" pButton type="button" label="{{'btn.create' | translate}}" icon="pi pi-plus" class="p-button-secondary p-button-outlined"></button>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-qa let-index="rowIndex">
      <tr>
        <td>{{index + 1}}</td>
        <td>{{qa.question}}</td>
        <td>{{qa.createdDate | date: 'dd/MM/yyyy HH:mm'}}</td>
        <td >
          <ng-container [ngSwitch]="qa.status" >
            <div *ngSwitchCase="qaConst.ACTIVE">{{'const.active' | translate}}</div>
            <div *ngSwitchCase="qaConst.INACTIVE" class="p-invalid">{{'const.inactive' | translate}}</div>
          </ng-container>
        </td>
        <td style="min-width: 175px">
          <div>
            <button (click)="gotoView(qa.id)" pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text"></button>
            <button *ngIf="isHasEdit" (click)="gotoUpdate(qa.id)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text"></button>
            <button *ngIf="isHasDel && qa.status == qaConst.ACTIVE" (click)="doDelete(qa)" pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text"></button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="5">
          {{'noData' | translate}}
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator #qaPaging [rows]="pageSize"
               [totalRecords]="totalItem"
               [rowsPerPageOptions]="[10, 20, 50, 100]"
               [showCurrentPageReport]="true"
               (onPageChange)="changePage($event)"
               currentPageReportTemplate="{{ 'paging' | translate }}">
  </p-paginator>

</p-panel>
