/* You can add global styles to this file, and also import other style files */
.input-wrapper{
  position: relative;
  small {
    position: absolute;
    left: 5px;
    bottom: -1.2rem;
  }
}

.normal-dialog {
  width: 50vw;
}

.p-menuitem-text {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 40em) {
  .normal-dialog {
    width: 85vw;
  }
}

.hour-only .p-minute-picker button, .hour-only .p-second-picker button {
  visibility: hidden;
}

.split-horizontal {height: 1px;background: #e0e0e0;margin: 15px 0;width: 100%;}
.split-horizontal-no-line {height: 1px;margin: 15px 0;width: 100%;}

.indicator {
  background-color: rgba(#ffffff, 0.8);
  z-index: 3;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.load-failed{
    height: 100%;
  }
}

.invisible {
  visibility: hidden;
}

.p-field > label {
  font-weight: 700;
}

.text-primary {
  color: #582E91;
  &.in-active {
    opacity: 0.7;
  }
}
