<form class="p-grid p-fluid p-mb-3" [formGroup]="formFilter">
  <div class="p-lg-3 p-md-6 p-col-6 p-field">
    <label for="k-value">Loại báo cáo</label>
    <p-dropdown
      [options]="tagKpiList"
      [autoDisplayFirst]="false"
      [filter]="true"
      inputId="k-value" optionLabel="value" dataKey="keyTag" formControlName="typeReport"></p-dropdown>
  </div>
  <div class="p-lg-2 p-md-6 p-col-6 p-field">
    <label for="k-create">Ngày tạo</label>
    <p-calendar formControlName="createDate" inputId="k-create" dateFormat="dd/mm/yy" [showButtonBar]="true"></p-calendar>
  </div>
  <div class="p-lg-2 p-md-6 p-col-6 p-field">
    <label for="k-modify">Ngày cập nhật</label>
    <p-calendar formControlName="modifyDate" inputId="k-modify" dateFormat="dd/mm/yy" [showButtonBar]="true"></p-calendar>
  </div>
  <div class="p-lg-3 p-md-6 p-col-6 p-field">
    <label for="k-status">Trạng thái</label>
    <p-dropdown formControlName="status" [options]="statusList" inputId="k-status"></p-dropdown>
  </div>
  <div class="p-lg-2 p-md-12 p-col-12 p-field p-d-flex p-align-end">
    <button (click)="doFilter()" pButton type="button" label="Lọc kết quả" class="p-button-secondary" style="height: 46px"></button>
  </div>
</form>

<p-table [value]="kpiList">
  <ng-template pTemplate="header">
    <tr>
      <th>STT</th>
      <th>Loại báo cáo KPI</th>
      <th>Ngày tạo</th>
      <th>Ngày cập nhật</th>
      <th>Trạng thái</th>
      <th>Thao tác</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-kpi let-i="rowIndex">
    <tr>
      <td>{{i + 1}}</td>
      <td>{{kpi.reportType}}</td>
      <td>{{kpi.createDate | date: 'dd/MM/yyyy'}}</td>
      <td>{{kpi.modifyDate | date: 'dd/MM/yyyy'}}</td>
      <td>
        <ng-container [ngSwitch]="kpi.status">
          <ng-container *ngSwitchCase="kpiConst.STATUS_ACTIVE">Hoạt động</ng-container>
          <ng-container *ngSwitchCase="kpiConst.STATUS_INACTIVE">Không hoạt động</ng-container>
        </ng-container>
      </td>
      <td>
        <button pButton
                type="button"
                icon="pi pi-eye"
                class="p-button-rounded p-button-text">
        </button>
        <button pButton
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-secondary p-button-text">
        </button>
        <button pButton
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text">
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-paginator [rows]="pageSize"
             [totalRecords]="totalItem"
             [rowsPerPageOptions]="[10, 20, 50, 100]"
             [showCurrentPageReport]="true"
             (onPageChange)="changePage($event)">
</p-paginator>
