<p-card>
  <p style="color: rgba(70, 37, 116, 1)">Đăng ký bảo hiểm tại Công ty Cổ phần Bảo hiểm Quân Đội</p>
  <p style="color: rgba(70, 37, 116, 1)">Cán bộ bán hàng: {{insurance.createdBy}}</p>
  <table id="tableInsurance" style=" border-collapse: collapse; width: 50%;">
    <tr>
      <td>Trạng thái</td>
      <td>
        <ng-container [ngSwitch]="insurance.status">
          <ng-container  *ngSwitchCase="4">Chưa thanh toán</ng-container>
          <ng-container  *ngSwitchCase="5">Đang tạo giấy chứng nhận</ng-container>
          <ng-container  *ngSwitchCase="6">Hoàn thành</ng-container>
        </ng-container>
      </td>
    </tr>
    <tr>
      <td>Ngày hiệu lực</td>
      <td>{{insurance.ngay_HL}}</td>
    </tr>
    <tr>
      <td>Phí (Bao gồm VAT)</td>
      <td>{{insurance.ttoan }} đ</td>
    </tr>
    <tr>
      <td>Thông tin thanh toán</td>
      <td  ><pre>{{insurance.transfer_FILE}}</pre></td>
    </tr>
    <tr>
      <td>Giấy chứng nhận bảo hiểm</td>
      <td><ng-container [ngSwitch]="insurance.status">
        <ng-container  *ngSwitchCase="4">Chưa thanh toán</ng-container>
        <ng-container  *ngSwitchCase="5">Đang tạo giấy chứng nhận</ng-container>
        <ng-container  *ngSwitchCase="6"><a [href]="insurance.gcn_FILE" download>@File</a> </ng-container>
      </ng-container></td>
    </tr>
  </table>
</p-card>
<div class="p-mt-5"></div>
<form [formGroup]="insuranceForm" >
  <p-card>
    <p-tabView >
      <p-tabPanel header="{{'insurance.form.car.title' | translate | uppercase}}">
        <ng-template pTemplate="body"  >
          <div class="p-grid p-fluid">
            <div class="p-md-6 p-col-6 p-field ">
              <label class="title-left ">{{'insurance.form.car-brand' | translate}}</label>
              <p-dropdown  [options]="brandList" dataKey="id"
              optionLabel="brand" (onChange)="selectBrand($event)"
              formControlName="hang_XE"></p-dropdown>
              <small *ngIf="hasErrorInput('hang_XE', 'required')" class="p-invalid">
                Trường bắt buộc nhập
              </small>
            </div>

            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-modal' | translate}}</label>
              <p-dropdown  [options]="modelList" dataKey="brandId"
                           optionLabel="brandValue"
                           formControlName="hieu_XE"></p-dropdown>
              <small *ngIf="hasErrorInput('hieu_XE', 'required')" class="p-invalid">
                Trường bắt buộc nhập
              </small>
            </div>

            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-number' | translate}}</label>
              <input formControlName="bien_XE" type="text" pInputText >
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-engine-number' | translate}}</label>
              <input formControlName="so_MAY" type="text" pInputText >
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-chassis-number' | translate}}</label>
              <input formControlName="so_KHUNG" type="text" pInputText >
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-capacity' | translate}}</label>
              <input formControlName="ttai" type="number" pInputText >
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-seat-size' | translate}}</label>
              <input formControlName="so_CN" type="number" pInputText >
              <small *ngIf="hasErrorInput('so_CN', 'required')" class="p-invalid">
                Trường bắt buộc nhập
              </small>
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-business' | translate}}</label>
              <p-dropdown  [options]="statusList" dataKey="code"
                           optionLabel="label"
                           formControlName="mdsd"></p-dropdown>
            </div>

            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-value' | translate}}</label>
              <input formControlName="gia_XE" type="text" pInputText >
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-target' | translate}}</label>
              <p-dropdown  [options]="targetList" dataKey="code"
                           optionLabel="label"
                           (onChange)="changeTarget($event)"
                           formControlName="target"></p-dropdown>
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-type' | translate}}</label>
              <p-dropdown  [options]="typeCarList" dataKey="code"
                           optionLabel="label"
                           formControlName="loai_XE"></p-dropdown>
            </div>

            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.car-manufacture-year' | translate}}</label>
              <input formControlName="nam_SX" type="number" pInputText >
              <small *ngIf="hasErrorInput('nam_SX', 'required')" class="p-invalid">
                Trường bắt buộc nhập
              </small>
            </div>
          </div>
        </ng-template>


      </p-tabPanel>
      <p-tabPanel header="{{'insurance.form.insurance-scope.title' | translate | uppercase}}">
        <ng-template pTemplate="body"  >
          <div class="p-grid p-fluid">
            <div class="p-md-6 p-col-6 p-field " >
              <label>{{'insurance.form.scope-from-date' | translate}}</label>
              <p-calendar formControlName="ngay_HL"
                          inputId="k-create"
                          dateFormat="dd/mm/yy" [showButtonBar]="true"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          [yearRange]="yearSelect">
                <small *ngIf="hasErrorInput('ngay_HL', 'required')" class="p-invalid">
                  Trường bắt buộc nhập
                </small>
              </p-calendar>

            </div>

            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.scope-to-date' | translate}}</label>
              <p-calendar formControlName="ngay_KT"
                          inputId="k-create"
                          dateFormat="dd/mm/yy" [showButtonBar]="true"
                          [monthNavigator]="true"
                          [yearNavigator]="true"
                          [yearRange]="yearSelect">
              </p-calendar>
            </div>
            <div class="p-md-12" >
              <span style="font-size: 18px; color: #4F4F4F;">TNDS BẮT BUỘC <p-checkbox formControlName="bbtn" [binary]="true" trueValue="C" falseValue="K"></p-checkbox></span>
              <br><br>
              <span style="font-size: 18px; color: #4F4F4F;">TAI NẠN LÁI, PHỤ XE  <p-checkbox formControlName="tl" [binary]="true" trueValue="1" falseValue="null"></p-checkbox></span>
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.scope-people-number' | translate}}</label>
              <input formControlName="so_LPX" type="text" pInputText >
            </div>
            <div class="p-md-12">
              <span style="font-size: 18px; color: #4F4F4F;">VẬT CHẤT XE</span>
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.scope-car-value' | translate}}</label>
              <input formControlName="gia_XE" type="number" pInputText >
            </div>
            <div class="p-md-6 p-col-6 p-field">
              <label>{{'insurance.form.scope-money-insurance' | translate}}</label>
              <input type="number" formControlName="tv"  pInputText />
              <small *ngIf="hasErrorInput('tv', 'max')" class="p-invalid">
                Tối đa 16 tỷ
              </small>
            </div>
            <div class="p-md-6 p-col-6 p-field">
              <label>{{'insurance.form.scope-term' | translate}}</label>
              <p-dropdown  [options]="statusList" dataKey="code"
                           optionLabel="label"
                           formControlName="bs002"></p-dropdown>
            </div>
          </div>
        </ng-template>

      </p-tabPanel>
      <p-tabPanel header="{{'insurance.form.car-owner.title' | translate | uppercase}}">
        <ng-template pTemplate="body"  >
          <div class="p-grid p-fluid">
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.customer-type' | translate}}</label>
              <p-dropdown  [options]="customerTypeList" dataKey="code"
                           optionLabel="label"
                           formControlName="lkh"></p-dropdown>
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.name' | translate}}</label>
              <input type="text"  formControlName="ten" pInputText />
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.phone' | translate}}</label>
              <input type="text"  formControlName="mobi" pInputText />
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.address' | translate}}</label>
              <input type="text"  formControlName="dchi" pInputText />
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>{{'insurance.form.id-number' | translate}}</label>
              <input type="text"  formControlName="cmt" pInputText />
            </div>
            <div class="p-md-6 p-col-6 p-field ">
              <label>Email</label>
              <input type="text"  formControlName="email" pInputText />
            </div>
          </div>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
    <div class="split-horizontal"></div>
    <div class="p-text-center">
      <button pButton (click)="doCancel()" type="button" label="{{'btn.cancel' | translate}}" class="p-button-raised p-button-text p-button-plain p-mr-3"></button>
      <ng-container>
        <button pButton (click)="doUpdate()" type="button" label="{{'btn.save' | translate}}" class="p-button-secondary"></button>
      </ng-container>
    </div>
  </p-card>
</form>


