<form class="p-grid p-fluid p-mb-6" [formGroup]="formFilter" (keyup.enter)="doFilter()">
  <div class="p-md-3 p-col-3 p-field">
    <label>{{'insurance.search' | translate}}</label>
    <input type="text" id="s-valueInsurance"  pInputText placeholder="{{'insurance.placeholder' | translate}}" formControlName="searchValue" />
    <small *ngIf="hasErrorFilter('searchValue', 'pattern')" class="p-invalid">
      {{'insurance.search.pattern' | translate}}
    </small>
  </div>
  <div class="p-lg-2 p-col-2 p-field p-ml-3" >
    <label>{{'insurance.status' | translate}}</label>
    <p-dropdown [options]="statusList" optionLabel="label" dataKey="code" formControlName="status"></p-dropdown>
  </div>
  <div class="p-lg-2 p-col-2 p-field p-ml-2" >
    <label>{{'insurance.branch' | translate}}</label>
    <p-dropdown [options]="branchList" optionLabel="name" dataKey="code" formControlName="branch"></p-dropdown>
  </div>
  <div class="p-col-2  p-d-flex  p-mt-1 p-pl-3 p-lg-2 p-field p-pt-5">
    <button (click)="doFilter()"   pButton type="button" label="{{'filter' | translate}}" class="p-button-secondary" style="height: 46px"></button>
  </div>
  <div class="p-col-2  p-d-flex p-mt-1 p-pl-3 p-lg-2 p-field p-pt-5">
    <button (click)="displayExport = true"   pButton type="button" label="{{'export' | translate}}" class="p-button-primary" style="height: 46px"></button>
  </div>

</form>
<p-table [value]="insuranceList" dataKey="id" styleClass="table-responsive"
         [customSort]="true"
         [autoLayout]="true"
         [lazy]="true"
         sortField="createdDate"
         [sortOrder]="-1"
         (onLazyLoad)="lazyLoadInsurance($event)">
  <ng-template pTemplate="header">
    <tr>
      <th id="noId" style="width: 50px;">{{'insurance.no' | translate}}</th>

      <th>{{'insurance.customerName' | translate}}</th>
      <th id="typeId">{{'insurance.type' | translate}}</th>
      <th id="statusId">{{'insurance.status' | translate}}</th>
      <th>{{'insurance.branch' | translate}}</th>
      <th id="createdDate" >{{'insurance.createdDate' | translate}}</th>
      <th id="actionId">{{'insurance.action' | translate}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-insurance let-index="rowIndex">
    <tr>
      <td>{{(page * pageSize) + 1 + index}}</td>
      <td>{{insurance.mic.ten}}</td>
      <td>
        <p *ngIf="insurance.mic.bbtn === 'C'">Trách nhiệm dân sự bắt buộc</p>
        <p *ngIf="insurance.mic.tl">Mức trách nhiệm tai nạn lái phụ: {{insurance.mic.tl | number : '3.0-0' }} đ</p>
        <p *ngIf="insurance.mic.tk">Mức trách nhiệm tai nạn người ngồi trên xe: {{insurance.mic.tk | number : '3.0-0' }} đ</p>
        <p *ngIf="insurance.mic.gia_XE">Giá trị xe: {{insurance.mic.gia_XE | number : '3.0-0' }} đ</p>
        <p *ngIf="insurance.mic.tv">Vật chất xe: {{insurance.mic.tv | number : '3.0-0' }} đ</p>
        <p *ngIf="insurance.mic.bs002 === 'C'">Điều khoản mở rộng mất cắp bộ phận</p>
      </td>
      <td>
        <ng-container [ngSwitch]="insurance.mic.status">
          <ng-container *ngSwitchCase="0">Xóa</ng-container>
          <ng-container *ngSwitchCase="1">Nháp</ng-container>
          <ng-container *ngSwitchCase="2">Đang lấy phí</ng-container>
          <ng-container *ngSwitchCase="3">Chưa gửi thông tin</ng-container>
          <ng-container *ngSwitchCase="4">Chưa thanh toán</ng-container>
          <ng-container *ngSwitchCase="5">Đang tao giấy chứng nhận</ng-container>
          <ng-container *ngSwitchCase="6">Hoàn thành</ng-container>
        </ng-container>
      </td>
      <td>
        <div *ngFor="let item of insurance.listBranch| slice:0:insurance.maxShowBranch;index as i" [ngClass]="{'p-mt-2': i != 0}">
        <ng-container>{{item.name}}</ng-container>
      </div>
        <div *ngIf="insurance.listBranch?.length > initMaxShow" class="p-mt-1">
          <a *ngIf="insurance.maxShowBranch != insurance.listBranch.length; else showLess" (click)="insurance.maxShowBranch = insurance.listBranch.length" href="javascript:void('view more');">{{'viewMore' | translate}}</a>
          <ng-template #showLess><a (click)="insurance.maxShowBranch = initMaxShow" href="javascript:void('view less');">{{'viewLess' | translate}}</a></ng-template>
        </div>
      </td>
      <td>{{insurance.mic.createdDate | date: 'dd/MM/yyyy HH:mm'}}</td>

      <td>
        <button (click)="gotoView(insurance.mic.id)" pButton type="button" icon="pi pi-eye" class="p-button-rounded p-button-text"></button>
        <button  pButton
                 type="button"
                 icon="pi pi-pencil"
                 class="p-button-rounded p-button-secondary p-button-text"
                 (click)="gotoUpdate(insurance.mic.id)"
        >
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="9">
        {{'noData' | translate}}
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator #paging [rows]="10"
             [hidden]="totalItems <= 0"
             [totalRecords]="totalItems"
             [rowsPerPageOptions]="[10, 20, 50, 100]"
             [showCurrentPageReport]="true"
             (onPageChange)="changePage($event)"
             currentPageReportTemplate="{{ 'paging' | translate }}">
</p-paginator>
<p-dialog [visible]="displayExport" id="insuranceExport" [closable]="false" modal="true" [style]="{width: '25vw'}" header="Xuất báo cáo">
  <ng-template pTemplate="body">
    <form [formGroup]="exportForm" class="p-fluid">
      <div class="p-field p-ml-2" >
        <label>{{'insurance.branch' | translate}}</label>
        <p-dropdown [options]="branchList" optionLabel="name" dataKey="code" formControlName="branchCode"></p-dropdown>
      </div>
      <div class="p-field p-ml-2" >
        <label>{{'insurance.fromDate' | translate}} <span class="p-error">*</span></label>
        <p-calendar
          formControlName="fromDate"
          inputId="k-create"
          dateFormat="dd/mm/yy" [showButtonBar]="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [yearRange]="yearSelect"></p-calendar>
        <small *ngIf="hasErrorInput('fromDate', 'required')" class="p-invalid">
          Trường bắt buộc nhập
        </small>
      </div>

      <div class="p-field p-ml-2" >
        <label>{{'insurance.toDate' | translate}} <span class="p-error">*</span></label>
        <p-calendar
          formControlName="toDate"
          inputId="k-create"
          dateFormat="dd/mm/yy" [showButtonBar]="true"
          [monthNavigator]="true"
          [yearNavigator]="true"
          [yearRange]="yearSelect"></p-calendar>
        <small *ngIf="hasErrorInput('toDate', 'required')" class="p-invalid">
          Trường bắt buộc nhập
        </small>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="p-grid p-fluid" style="display: flex; justify-content: center; align-items: center; margin: 20px 0">
      <button pButton (click)="displayExport = false" class="p-button-primary p-button-outlined p-md-6 p-col-6" style="width: 45%; height: 45px" label="{{'btn.cancel' | translate}}"></button>
      <button pButton (click)="doExport()" class="p-button-secondary p-md-6 p-col-6" style="width: 45%; height: 45px" label="{{'btn.export' | translate}}"></button>
    </div>
  </ng-template>
</p-dialog>
