<form [formGroup]="formNews">
  <div class="p-grid">
    <div class="p-col-8">
      <div class="p-fluid">
        <div class="p-col-12 p-field">
          <label for="n-title">{{'news.title' | translate}} <span class="p-invalid">*</span></label>
          <input formControlName="title" id="n-title" type="text" pInputText />
          <small *ngIf="hasErrorInput('title', 'required')" class="p-invalid">
            {{'invalid.title.required' | translate}}
          </small>
          <small *ngIf="hasErrorInput('title', 'maxlength')" class="p-invalid">
            {{ 'invalid.title.maxLength' | translate:{length: 500} }}
          </small>
        </div>
        <div class="p-col-12 p-field">
          <label for="n-short-content">{{'news.shortContent' | translate}}</label>
          <input formControlName="shortContent" id="n-short-content" type="text" pInputText />
          <small *ngIf="hasErrorInput('shortContent', 'maxlength')" class="p-invalid">
            {{ 'invalid.shortContent.maxLength' | translate:{length: 400} }}
          </small>
        </div>
        <div class="p-col-12 p-field">
          <label>{{'news.content' | translate}} <span class="p-invalid">*</span></label>
          <editor
            formControlName="content"
            [init]="{
              base_url: '/tinymce',
              suffix: '.min',
              height: 500,
              menubar: true,
              plugins: [
               'autolink lists link image charmap print preview anchor',
               'searchreplace visualblocks code fullscreen',
               'insertdatetime media table paste code wordcount'
              ],
              toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | fullscreen'
            }">
          </editor>
          <small *ngIf="hasErrorInput('content', 'required')" class="p-invalid">
            {{'invalid.content.required' | translate}}
          </small>
        </div>
      </div>
    </div>

    <div class="p-col-4">
      <div class="p-fluid">
        <div class="p-col-12 p-field">
          <label for="n-tags">{{'news.tags' | translate}} <span class="p-invalid">*</span></label>
          <p-multiSelect formControlName="tags" inputId="n-tags" [options]="tagList" dataKey="tagId" optionLabel="tagValue"></p-multiSelect>
          <small *ngIf="hasErrorInput('tags', 'required')" class="p-invalid">
            {{'invalid.tags.required' | translate}}
          </small>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-group-customer">{{'news.branch' | translate}} <span class="p-invalid">*</span></label>
          <p-multiSelect
            [showToggleAll]="false"
            [filter]="true"
            filterBy="label,value.code"
            formControlName="branch"
            inputId="n-group-customer"
            [options]="branchList"
            optionLabel="name"
            dataKey="id">
            <ng-template let-branch pTemplate="item">
              <div>{{branch.value.code}} - {{branch.value.name}}</div>
            </ng-template>
          </p-multiSelect>
          <small *ngIf="hasErrorInput('branch', 'required')" class="p-invalid">
            {{'invalid.branch.required' | translate}}
          </small>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-date-publish">{{'news.publishDate' | translate}}</label>
          <p-calendar
            formControlName="publishDate"
            dateFormat="dd/mm/yy"
            [showTime]="true"
            inputId="n-date-publish"
            [readonlyInput]="true"
            [showSeconds]="true"
            [showIcon]="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [yearRange]="yearSelect"
            [minDate]="min"
            styleClass="hour-only">
          </p-calendar>
          <small *ngIf="hasErrorInput('publishDate', 'mustAfterNow')" class="p-invalid">
            {{'invalid.publishDate.mustAfterNow' | translate}}
          </small>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-order">{{'news.level' | translate}} <span class="p-invalid">*</span></label>
          <p-dropdown formControlName="level" inputId="n-order" [options]="levelList"></p-dropdown>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-group-product">{{'news.docs' | translate}} ({{'news.lessThan' | translate}})</label>
          <p-fileUpload
            (onSelect)="doSelectDoc($event)"
            (onClear)="doClearDoc()"
            mode="advanced"
            name="docsNews"
            accept=".pdf"
            invalidFileSizeMessageSummary=""
            invalidFileSizeMessageDetail="{{'invalid.docs.zize' | translate}}"
            invalidFileTypeMessageSummary=""
            invalidFileLimitMessageDetail="{{'invalid.docs.limit' | translate}}"
            invalidFileLimitMessageSummary=""
            invalidFileTypeMessageDetail="{{'invalid.docs.type' | translate}}"
            [customUpload]="true"
            [showUploadButton]="false"
            [showCancelButton]="true"
            chooseLabel="{{'uploadFile.docs' | translate}}"
            cancelLabel="{{'uploadFile.clear' | translate}}"
            maxFileSize="5000000">
            <ng-template let-file pTemplate="file">
              <div style="max-width: 100%">{{file.name}}</div>
            </ng-template>
          </p-fileUpload>
          <div *ngIf="mode == 'update' && !isChangeDoc && formNews.value.docs" class="p-d-flex p-mt-1 p-jc-between">
            <a target="_blank" [href]="fileDocPreview">{{formNews.value.docs}}</a>
            <p-button label="" icon="pi pi-times" styleClass="p-button-sm p-button-danger" (click)="doClearImagePreview()"></p-button>
          </div>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-group-product">{{'news.image' | translate}}</label>
          <aw-image-upload
            (changeFile)="doChangeImage($event)"
            (clearFile)="doClearImage()"
            fileExtErrorMsg="{{'uploadFile.invalid.ext' | translate: {ext: 'jpg, png, gif'} }}"
            fileSizeErrorMsg="{{'uploadFile.invalid.size' | translate: {size: '5MB'} }}"
            maxFileErrorMsg="{{'uploadFile.invalid.max' | translate: {max: 1} }}"
            uploadTitle="{{'uploadFile.image' | translate}}">
          </aw-image-upload>
        </div>

        <div class="p-col-12 p-field-checkbox">
          <p-checkbox formControlName="isSendNotification" binary="true" inputId="n-send-notification"></p-checkbox>
          <label for="n-send-notification">{{'news.isSendNotification' | translate}}</label>
        </div>
      </div>
    </div>
  </div>

</form>

<div class="split-horizontal"></div>
<div class="p-text-center">
  <button pButton (click)="doCancel()" type="button" label="{{'btn.cancel' | translate}}" class="p-button-raised p-button-text p-button-plain p-mr-3"></button>
  <ng-container *ngIf="mode == 'create'">
    <button pButton (click)="doSaveDraft()" type="button" label="{{'btn.draft' | translate}}" class="p-button-raised p-button-secondary p-mr-3"></button>
    <button pButton (click)="doSave()" type="button" label="{{'btn.insert' | translate}}" class="p-button-raised p-mr-3"></button>
  </ng-container>
  <ng-container *ngIf="mode == 'update'">
    <button pButton (click)="doSaveDraft()" type="button" label="{{'btn.draft' | translate}}" class="p-button-raised p-button-secondary p-mr-3"></button>
    <button pButton (click)="doUpdate()" type="button" label="{{'btn.saveAndPublish' | translate}}" class="p-button-raised"></button>
  </ng-container>
</div>
