<form [formGroup]="formNews">
  <div class="p-grid">
    <div class="p-col-8">
      <div class="p-fluid">
        <div class="p-col-12 p-field">
          <label for="n-title">{{'news.title' | translate}}</label>
          <input formControlName="title" id="n-title" type="text" pInputText />
        </div>
        <div class="p-col-12 p-field">
          <label for="n-short-content">{{'news.shortContent' | translate}}</label>
          <input formControlName="shortContent" id="n-short-content" type="text" pInputText />
        </div>
        <div class="p-col-12 p-field">
          <label>{{'news.content' | translate}}</label>
          <editor
            *ngIf="mode != 'view'; else viewContent"
            formControlName="content"
            [init]="{
              base_url: '/tinymce',
              suffix: '.min',
              height: 500,
              menubar: true,
              plugins: [
               'autolink lists link image charmap print preview anchor',
               'searchreplace visualblocks code fullscreen',
               'insertdatetime media table paste code wordcount'
              ],
              toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | fullscreen'
            }">
          </editor>
          <ng-template #viewContent>
            <div class="content-readonly" [innerHTML]="contentReadable"></div>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="p-col-4">
      <div class="p-fluid">
        <div class="p-col-12 p-field">
          <label for="n-tags">{{'news.tags' | translate}}</label>
          <p-multiSelect formControlName="tags" inputId="n-tags" [options]="tagList" dataKey="tagId" optionLabel="tagValue"></p-multiSelect>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-group-customer">{{'news.groupView' | translate}}</label>
          <p-multiSelect formControlName="groupView" inputId="n-group-customer" [options]="roleList" dataKey="id" optionLabel="name"></p-multiSelect>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-date-publish">{{'news.publishDate' | translate}}</label>
          <p-calendar
            formControlName="publishDate"
            dateFormat="dd/mm/yy"
            [showTime]="true"
            inputId="n-date-publish"
            [readonlyInput]="true"
            [showSeconds]="true"
            [showIcon]="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            [yearRange]="yearSelect"
            [minDate]="min"
            styleClass="hour-only">
          </p-calendar>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-order">{{'news.level' | translate}}</label>
          <p-dropdown formControlName="level" inputId="n-order" [options]="levelList"></p-dropdown>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-group-product">{{'news.docs' | translate}}</label>
          <p-fileUpload
            (onSelect)="doSelectDoc($event)"
            (onClear)="doClearDoc()"
            mode="advanced"
            name="docsNews"
            accept=".pdf"
            [customUpload]="true"
            [showUploadButton]="false"
            [showCancelButton]="true"
            maxFileSize="5000000">
            <ng-template let-file pTemplate="file">
              <div style="max-width: 100%">{{file.name}}</div>
            </ng-template>
          </p-fileUpload>
        </div>

        <div class="p-col-12 p-field">
          <label for="n-group-product">{{'news.image' | translate}}</label>
          <p-fileUpload
            (onSelect)="doSelectImage($event)"
            (onClear)="doClearImage()"
            mode="advanced"
            name="imageNews"
            accept="image/*"
            [customUpload]="true"
            [showUploadButton]="false"
            [showCancelButton]="true"
            maxFileSize="5000000">
            <ng-template let-file pTemplate="file">
                <img [attr.src]="file.objectURL" style="max-width: 100%">
            </ng-template>
          </p-fileUpload>
        </div>

        <div class="p-col-12 p-field-checkbox">
          <p-checkbox formControlName="isSendNotification" binary="true" inputId="n-send-notification"></p-checkbox>
          <label for="n-send-notification">{{'news.isSendNotification' | translate}}</label>
        </div>
      </div>
    </div>
  </div>

</form>

<div class="split-horizontal"></div>
<div class="p-text-center">
  <button pButton (click)="doCancel()" type="button" label="{{'btn.cancel' | translate}}" class="p-button-raised p-button-text p-button-plain p-mr-3"></button>
  <button *ngIf="mode == 'create'" pButton (click)="doSaveDraft()" type="button" label="{{'btn.draft' | translate}}" class="p-button-raised p-button-secondary p-mr-3"></button>
  <button *ngIf="mode != 'view'" pButton (click)="doSave()" type="button" label="{{'btn.save' | translate}}" class="p-button-raised"></button>

</div>
